In [1]:
import pandas as pd
import numpy as np

# Datasets

In [2]:
# Kiva data
kiva_loans_o = pd.read_csv('kiva-data/kiva_loans.csv')
kiva_mpi_region_locations_o = pd.read_csv('kiva-data/kiva_mpi_region_locations.csv')
loan_theme_ids_o = pd.read_csv('kiva-data/loan_theme_ids.csv')
loan_themes_by_region_o = pd.read_csv('kiva-data/loan_themes_by_region.csv')

# OPHI MPI data
MPI_national_o = pd.read_csv('mpi-data/MPI_national.csv')
MPI_subnational_o = pd.read_csv('mpi-data/MPI_subnational.csv')

# Dataset Cleaning Process

## `kiva_loans`

In [3]:
kiva_loans = kiva_loans_o.copy()
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null object
disbursed_time        668809 non-null object
funded_time           622874 non-null object
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  499789 non-null object
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

In [4]:
# Times
time_cols = ['posted_time', 'disbursed_time', 'funded_time', 'date']
for col in time_cols:
    kiva_loans[col] = pd.to_datetime(kiva_loans[col])
    
# Lists
def to_list(strg, sep = ', '):
    if strg == 'nan':
        return []
    return strg.split(sep=sep)

list_cols = ['tags', 'borrower_genders']
for col in list_cols:
    kiva_loans[col] = kiva_loans[col].astype(str).apply(to_list)
    
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  671205 non-null object
borrower_genders      671205 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null datetime64[ns]
dtypes: datetime64[ns](4), float64(4), int64(2), object(10)
memory usage: 102.4+ MB

In [5]:
(kiva_loans['posted_time'] - kiva_loans['date']).max()

Timedelta('0 days 23:59:59')

Note that the `date` is just a less precise version of `posted_time`, so `date` can be dropped

In [6]:
kiva_loans.drop('date', axis=1, inplace=True)
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 19 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  671205 non-null object
borrower_genders      671205 non-null object
repayment_interval    671205 non-null object
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 97.3+ MB

The rest of the dataset looks good, some fields may be unusable/useless, but they can be removed later, since this is the main dataset.

## `kiva_mpi_region_locations`

In [7]:
kiva_mpi_region_locations = kiva_mpi_region_locations_o.copy()
kiva_mpi_region_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB

In [8]:
kiva_mpi_region_locations = kiva_mpi_region_locations[pd.notnull(kiva_mpi_region_locations['MPI'])]
kiva_mpi_region_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             984 non-null object
country         984 non-null object
region          984 non-null object
world_region    984 non-null object
MPI             984 non-null float64
geo             984 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 76.9+ KB

In [9]:
kiva_mpi_region_locations[['geo', 'lat', 'lon']].sample(5)

                                geo        lat        lon
5           (33.669495, 66.0463534)  33.669495  66.046353
183                (1000.0, 1000.0)        NaN        NaN
173  (4.0134386, 9.717007299999999)   4.013439   9.717007
408         (34.5337527, 43.483738)  34.533753  43.483738
289          (5.8142836, 0.0746767)   5.814284   0.074677

Note how `geo` is just a more complicated version of `lat` and `lon`, so it can be dropped

In [10]:
kiva_mpi_region_locations.drop('geo', axis=1, inplace=True)
kiva_mpi_region_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 8 columns):
LocationName    984 non-null object
ISO             984 non-null object
country         984 non-null object
region          984 non-null object
world_region    984 non-null object
MPI             984 non-null float64
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(5)
memory usage: 69.2+ KB

## `loan_theme_ids`

In [11]:
loan_theme_ids = loan_theme_ids_o.copy()
loan_theme_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB

In [12]:
loan_theme_ids[~pd.notnull(loan_theme_ids['Loan Theme ID'])].sample(10)

             id Loan Theme ID Loan Theme Type  Partner ID
430073  1089261           NaN             NaN         NaN
422738  1081926           NaN             NaN         NaN
429958  1089146           NaN             NaN         NaN
427974  1087162           NaN             NaN         NaN
509754  1169321           NaN             NaN         NaN
435816  1095019           NaN             NaN         NaN
468469  1127848           NaN             NaN         NaN
422091  1081279           NaN             NaN         NaN
431883  1091071           NaN             NaN         NaN
429163  1088351           NaN             NaN         NaN

In [13]:
loan_theme_ids = loan_theme_ids_o[pd.notnull(loan_theme_ids_o['Loan Theme ID'])]
loan_theme_ids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764279 entries, 0 to 779091
Data columns (total 4 columns):
id                 764279 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 29.2+ MB

## `loan_themes_by_region`

In [14]:
loan_themes_by_region = loan_themes_by_region_o.copy()
loan_themes_by_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB

Any data without a `mpi_region` is useless to us, so we'll drop all rows with null values for that field

In [15]:
loan_themes_by_region = loan_themes_by_region[pd.notnull(loan_themes_by_region['mpi_region'])]
loan_themes_by_region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15722 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15722 non-null int64
Field Partner Name    15722 non-null object
sector                15722 non-null object
Loan Theme ID         15722 non-null object
Loan Theme Type       15722 non-null object
country               15722 non-null object
forkiva               15722 non-null object
region                15722 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15722 non-null int64
amount                15722 non-null int64
LocationName          15722 non-null object
geocode               13648 non-null object
names                 13647 non-null object
geo                   15722 non-null object
lat                   13648 non-null float64
lon                   13648 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14331 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.6+ MB

In [16]:
loan_themes_by_region[['geocode_old', 'geocode', 'geo', 'lat', 'lon', 'mpi_region', 'mpi_geo']].sample(10)

,geocode_old,geocode,geo,lat,lon,mpi_region,mpi_geo
1512,NaN,"[(33.3771898, 35.4835902)]","(33.3771898, 35.4835902)",33.377190,35.483590,LBN,NaN
8242,NaN,"[(13.8025442, -87.8979248)]","(13.8025442, -87.8979248)",13.802544,-87.897925,"Morazan, El Salvador","(13.7682, -88.1291387)"
8935,NaN,"[(41.0274491, 44.4414717)]","(41.0274491, 44.4414717)",41.027449,44.441472,ARM,NaN
5039,NaN,"[(8.163105, 123.8536876)]","(8.163105, 123.8536876)",8.163105,123.853688,"Northern Mindanao, Philippines","(8.020163499999999, 124.6856509)"
9766,NaN,"[(31.804381, 34.655314)]","(31.804381, 34.655314)",31.804381,34.655314,ISR,NaN
13044,NaN,"[(11.916667, -7.266666999999999)]","(11.916667, -7.266666999999999)",11.916667,-7.266667,"Bamako, Mali","(12.6392316, -8.0028892)"
13793,"(-0.2833333, 36.0666667)","[(-0.3030988, 36.080026)]","(-0.3030988, 36.080026)",-0.303099,36.080026,"Eastern, Kenya","(0.7137256, 35.517938)"
12584,NaN,"[(-8.7430424, 120.9876321)]","(-8.7430424, 120.9876321)",-8.743042,120.987632,"East Nusa Tenggara, Indonesia","(-8.657381899999999, 121.0793705)"
1443,NaN,"[(33.8629252, 35.9512863)]","(33.8629252, 35.9512863)",33.862925,35.951286,LBN,NaN
12933,NaN,"[(13.621654, -85.8255855)]","(13.621654, -85.8255855)",13.621654,-85.825586,"Nueva Segovia, Nicaragua","(13.7894404, -86.0121573)"

Notice that `geocode` and `geo` are basically indentical, and they are both just more complex versions of `lat` and `lon`, so they can be dropped. `geocode_old` is also pretty useless, since it is mostly empty anyways, so it can also be dropped. `mpi_geo` might not be useful either, but it can be dropped later if need be.

In [17]:
loan_themes_by_region.drop(['geocode_old', 'geocode', 'geo'], axis=1, inplace=True)
loan_themes_by_region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15722 entries, 0 to 15735
Data columns (total 18 columns):
Partner ID            15722 non-null int64
Field Partner Name    15722 non-null object
sector                15722 non-null object
Loan Theme ID         15722 non-null object
Loan Theme Type       15722 non-null object
country               15722 non-null object
forkiva               15722 non-null object
region                15722 non-null object
ISO                   15722 non-null object
number                15722 non-null int64
amount                15722 non-null int64
LocationName          15722 non-null object
names                 13647 non-null object
lat                   13648 non-null float64
lon                   13648 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14331 non-null float64
dtypes: float64(3), int64(3), object(12)
memory usage: 2.3+ MB

## `MPI_national`

In [18]:
MPI_national = MPI_national_o.copy()
MPI_national.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ISO                               102 non-null object
Country                           102 non-null object
MPI Urban                         102 non-null float64
Headcount Ratio Urban             102 non-null float64
Intensity of Deprivation Urban    102 non-null float64
MPI Rural                         102 non-null float64
Headcount Ratio Rural             102 non-null float64
Intensity of Deprivation Rural    102 non-null float64
dtypes: float64(6), object(2)
memory usage: 6.5+ KB

## `MPI_subnational`

In [19]:
MPI_subnational = MPI_subnational_o.copy()
MPI_subnational.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
ISO country code                     984 non-null object
Country                              984 non-null object
Sub-national region                  984 non-null object
World region                         984 non-null object
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
dtypes: float64(4), object(4)
memory usage: 61.6+ KB

# Data Cleaning Code (for reseting datasets)

In [20]:
# kiva_loans
kiva_loans = kiva_loans_o.copy()

# Times
time_cols = ['posted_time', 'disbursed_time', 'funded_time', 'date']
for col in time_cols:
    kiva_loans[col] = pd.to_datetime(kiva_loans[col])
    
# Lists
def to_list(strg, sep = ', '):
    if strg == 'nan':
        return []
    return strg.split(sep=sep)

list_cols = ['tags', 'borrower_genders']
for col in list_cols:
    kiva_loans[col] = kiva_loans[col].astype(str).apply(to_list)

kiva_loans.drop('date', axis=1, inplace=True)

# kiva_mpi_region_locations
kiva_mpi_region_locations = kiva_mpi_region_locations_o.copy()
kiva_mpi_region_locations = kiva_mpi_region_locations[pd.notnull(kiva_mpi_region_locations['MPI'])]
kiva_mpi_region_locations.drop('geo', axis=1, inplace=True)

# loan_theme_ids
loan_theme_ids = loan_theme_ids_o.copy()
loan_theme_ids = loan_theme_ids_o[pd.notnull(loan_theme_ids_o['Loan Theme ID'])]

# loan_themes_by_region
loan_themes_by_region = loan_themes_by_region_o.copy()
loan_themes_by_region = loan_themes_by_region[pd.notnull(loan_themes_by_region['mpi_region'])]
loan_themes_by_region.drop(['geocode_old', 'geocode', 'geo'], axis=1, inplace=True)

# MPI_national
MPI_national = MPI_national_o.copy()

# MPI_subnational
MPI_subnational = MPI_subnational_o.copy()

# Merging datasets

In [21]:
merged_data = kiva_loans.merge(
    loan_theme_ids,
    how='left',
    on='id',
    suffixes=('_kl','_lti')
)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 22 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  671205 non-null object
borrower_genders      671205 non-null object
repayment_interval    671205 non-null object
Loan Theme ID         657692 non-null object
Loan Theme Type       657692 non-null object
Partner ID            657692 non-null float64
dtypes: datetime64[ns](3), float64(5), int64(2), object(12)
memory usage: 117.8+ MB

In [22]:
merged_data = merged_data.merge(
    loan_themes_by_region,
    how='left',
    on=['Loan Theme ID', 'Partner ID', 'region'],
    suffixes=('', '_ltbr')
)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 37 columns):
id                      671205 non-null int64
funded_amount           671205 non-null float64
loan_amount             671205 non-null float64
activity                671205 non-null object
sector                  671205 non-null object
use                     666973 non-null object
country_code            671197 non-null object
country                 671205 non-null object
region                  614405 non-null object
currency                671205 non-null object
partner_id              657698 non-null float64
posted_time             671205 non-null datetime64[ns]
disbursed_time          668809 non-null datetime64[ns]
funded_time             622874 non-null datetime64[ns]
term_in_months          671205 non-null float64
lender_count            671205 non-null int64
tags                    671205 non-null object
borrower_genders        671205 non-null object
repayment_interval      671205 non-null object
Loan Theme ID           657692 non-null object
Loan Theme Type         657692 non-null object
Partner ID              657692 non-null object
Field Partner Name      533461 non-null object
sector_ltbr             533461 non-null object
Loan Theme Type_ltbr    533461 non-null object
country_ltbr            533461 non-null object
forkiva                 533461 non-null object
ISO                     533461 non-null object
number                  533461 non-null float64
amount                  533461 non-null float64
LocationName            533461 non-null object
names                   518986 non-null object
lat                     518987 non-null float64
lon                     518987 non-null float64
mpi_region              533461 non-null object
mpi_geo                 459053 non-null object
rural_pct               500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(23)
memory usage: 194.6+ MB

Remove all data without a `mpi_region`, since we need the more granular data.

In [23]:
merged_data = merged_data[pd.notnull(merged_data['mpi_region'])]
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 37 columns):
id                      533461 non-null int64
funded_amount           533461 non-null float64
loan_amount             533461 non-null float64
activity                533461 non-null object
sector                  533461 non-null object
use                     533456 non-null object
country_code            533453 non-null object
country                 533461 non-null object
region                  533461 non-null object
currency                533461 non-null object
partner_id              533461 non-null float64
posted_time             533461 non-null datetime64[ns]
disbursed_time          533461 non-null datetime64[ns]
funded_time             499549 non-null datetime64[ns]
term_in_months          533461 non-null float64
lender_count            533461 non-null int64
tags                    533461 non-null object
borrower_genders        533461 non-null object
repayment_interval      533461 non-null object
Loan Theme ID           533461 non-null object
Loan Theme Type         533461 non-null object
Partner ID              533461 non-null object
Field Partner Name      533461 non-null object
sector_ltbr             533461 non-null object
Loan Theme Type_ltbr    533461 non-null object
country_ltbr            533461 non-null object
forkiva                 533461 non-null object
ISO                     533461 non-null object
number                  533461 non-null float64
amount                  533461 non-null float64
LocationName            533461 non-null object
names                   518986 non-null object
lat                     518987 non-null float64
lon                     518987 non-null float64
mpi_region              533461 non-null object
mpi_geo                 459053 non-null object
rural_pct               500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(23)
memory usage: 154.7+ MB

In [24]:
(merged_data['sector'] != merged_data['sector_ltbr']).sum()

517133

These columns actually have rather different values, so I will leave both. Let's look at them though, to see if they are actually similar, just formatted differently

In [25]:
merged_data[['sector', 'sector_ltbr']].sample(15)

             sector                  sector_ltbr
181194         Food  General Financial Inclusion
139401    Education  General Financial Inclusion
650884  Agriculture  General Financial Inclusion
579917    Education  General Financial Inclusion
239369       Retail  General Financial Inclusion
114607       Retail  General Financial Inclusion
64821        Retail  General Financial Inclusion
54923          Food  General Financial Inclusion
405581  Agriculture  General Financial Inclusion
312803         Food  General Financial Inclusion
245576         Food  General Financial Inclusion
581148         Food  General Financial Inclusion
163171     Clothing  General Financial Inclusion
130163  Agriculture  General Financial Inclusion
251527       Retail  General Financial Inclusion

From this sample we can see that either the features match, or `sector_lbtr` is not very specific. Let's explore a little more

In [26]:
temp = merged_data[merged_data['sector_ltbr'] != 'General Financial Inclusion']
temp = temp[temp['sector'] != temp['sector_ltbr']][['sector', 'sector_ltbr']]
temp.sample(10)

              sector           sector_ltbr
486985          Food                 Other
537560  Personal Use  Water and Sanitation
527406  Personal Use  Water and Sanitation
610696      Services                 Other
232492      Services                 Other
459025  Personal Use  Water and Sanitation
519555  Personal Use  Water and Sanitation
309146  Personal Use  Water and Sanitation
318911   Agriculture  Water and Sanitation
483585  Personal Use  Water and Sanitation

We can see here that many of the rows that don't have "General Financial Inclusion" and that `sector` and `sector_ltbr` don't match, have either "Personal Use" under `sector` or "other" under `sector_ltbr`. Let's see if any data does not follow this trend

In [27]:
temp = temp[temp['sector'] != 'Personal Use']
temp = temp[temp['sector_ltbr'] != 'other']
temp = temp[temp['sector_ltbr'] != 'Other']
temp.sample(10)

             sector           sector_ltbr
202532     Services  Mobile Money and ICT
437270     Services          Clean Energy
42416        Retail  Mobile Money and ICT
212512    Education          Clean Energy
599825     Clothing  Water and Sanitation
650988  Agriculture          Clean Energy
50008   Agriculture             Education
221938    Education          Clean Energy
489850       Retail  Mobile Money and ICT
117436     Clothing             Education

In [28]:
len(temp)

11348

These last few (11,348) entries have rather conflicting results, so I'll leave both features here for now, but if we want to combine them, it shouldn't be too hard, and we would only lose 11k entries

In [29]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 37 columns):
id                      533461 non-null int64
funded_amount           533461 non-null float64
loan_amount             533461 non-null float64
activity                533461 non-null object
sector                  533461 non-null object
use                     533456 non-null object
country_code            533453 non-null object
country                 533461 non-null object
region                  533461 non-null object
currency                533461 non-null object
partner_id              533461 non-null float64
posted_time             533461 non-null datetime64[ns]
disbursed_time          533461 non-null datetime64[ns]
funded_time             499549 non-null datetime64[ns]
term_in_months          533461 non-null float64
lender_count            533461 non-null int64
tags                    533461 non-null object
borrower_genders        533461 non-null object
repayment_interval      533461 non-null object
Loan Theme ID           533461 non-null object
Loan Theme Type         533461 non-null object
Partner ID              533461 non-null object
Field Partner Name      533461 non-null object
sector_ltbr             533461 non-null object
Loan Theme Type_ltbr    533461 non-null object
country_ltbr            533461 non-null object
forkiva                 533461 non-null object
ISO                     533461 non-null object
number                  533461 non-null float64
amount                  533461 non-null float64
LocationName            533461 non-null object
names                   518986 non-null object
lat                     518987 non-null float64
lon                     518987 non-null float64
mpi_region              533461 non-null object
mpi_geo                 459053 non-null object
rural_pct               500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(23)
memory usage: 154.7+ MB

In [30]:
(merged_data['Loan Theme Type'] != merged_data['Loan Theme Type_ltbr']).sum()

68

There seems to be some uniqueness within these features, so let's see what they are

In [31]:
merged_data[merged_data['Loan Theme Type'] != merged_data['Loan Theme Type_ltbr']][['Loan Theme Type','Loan Theme Type_ltbr']].drop_duplicates()

      Loan Theme Type Loan Theme Type_ltbr
70912           Zaf̬n               ZafÍÎn

Since the `_ltbr` version of the dataset has more to do with merging, I will just keep it, but remove the 'lbtr' from the end

In [32]:
merged_data['Loan Theme Type'] = merged_data['Loan Theme Type_ltbr']
merged_data.drop('Loan Theme Type_ltbr', axis=1, inplace=True)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 36 columns):
id                    533461 non-null int64
funded_amount         533461 non-null float64
loan_amount           533461 non-null float64
activity              533461 non-null object
sector                533461 non-null object
use                   533456 non-null object
country_code          533453 non-null object
country               533461 non-null object
region                533461 non-null object
currency              533461 non-null object
partner_id            533461 non-null float64
posted_time           533461 non-null datetime64[ns]
disbursed_time        533461 non-null datetime64[ns]
funded_time           499549 non-null datetime64[ns]
term_in_months        533461 non-null float64
lender_count          533461 non-null int64
tags                  533461 non-null object
borrower_genders      533461 non-null object
repayment_interval    533461 non-null object
Loan Theme ID         533461 non-null object
Loan Theme Type       533461 non-null object
Partner ID            533461 non-null object
Field Partner Name    533461 non-null object
sector_ltbr           533461 non-null object
country_ltbr          533461 non-null object
forkiva               533461 non-null object
ISO                   533461 non-null object
number                533461 non-null float64
amount                533461 non-null float64
LocationName          533461 non-null object
names                 518986 non-null object
lat                   518987 non-null float64
lon                   518987 non-null float64
mpi_region            533461 non-null object
mpi_geo               459053 non-null object
rural_pct             500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(22)
memory usage: 150.6+ MB

In [33]:
(merged_data['country'] != merged_data['country_ltbr']).sum()

0

These are identical so I can just drop one

In [34]:
merged_data.drop('country_ltbr', axis=1, inplace=True)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 35 columns):
id                    533461 non-null int64
funded_amount         533461 non-null float64
loan_amount           533461 non-null float64
activity              533461 non-null object
sector                533461 non-null object
use                   533456 non-null object
country_code          533453 non-null object
country               533461 non-null object
region                533461 non-null object
currency              533461 non-null object
partner_id            533461 non-null float64
posted_time           533461 non-null datetime64[ns]
disbursed_time        533461 non-null datetime64[ns]
funded_time           499549 non-null datetime64[ns]
term_in_months        533461 non-null float64
lender_count          533461 non-null int64
tags                  533461 non-null object
borrower_genders      533461 non-null object
repayment_interval    533461 non-null object
Loan Theme ID         533461 non-null object
Loan Theme Type       533461 non-null object
Partner ID            533461 non-null object
Field Partner Name    533461 non-null object
sector_ltbr           533461 non-null object
forkiva               533461 non-null object
ISO                   533461 non-null object
number                533461 non-null float64
amount                533461 non-null float64
LocationName          533461 non-null object
names                 518986 non-null object
lat                   518987 non-null float64
lon                   518987 non-null float64
mpi_region            533461 non-null object
mpi_geo               459053 non-null object
rural_pct             500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(21)
memory usage: 146.5+ MB

The rest of the features contain unique data, so I will just leave them as they are.

Below is the data flow for merging all of the MPI related data, which will later be merged with this main data to create one nice, clean dataset.

In [35]:
mpi_info = kiva_mpi_region_locations.merge(
    MPI_subnational,
    how='outer',
    left_on=['country', 'region', 'world_region'],
    right_on=['Country', 'Sub-national region', 'World region'],
    suffixes=('', '_ms')
)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 16 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
MPI                                  984 non-null float64
lat                                  892 non-null float64
lon                                  892 non-null float64
ISO country code                     984 non-null object
Country                              984 non-null object
Sub-national region                  984 non-null object
World region                         984 non-null object
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
dtypes: float64(7), object(9)
memory usage: 130.7+ KB

Remove merged on features `Country`, `Sub-national region`, and `World region`

In [36]:
mpi_info.drop(['Country', 'Sub-national region', 'World region'], axis=1, inplace=True)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 13 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
MPI                                  984 non-null float64
lat                                  892 non-null float64
lon                                  892 non-null float64
ISO country code                     984 non-null object
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
dtypes: float64(7), object(6)
memory usage: 107.6+ KB

In [37]:
(mpi_info['ISO'] != mpi_info['ISO country code']).sum()

0

`ISO` and `ISO country code` are identical, so one can be removed

In [38]:
mpi_info.drop('ISO country code', axis=1, inplace=True)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 12 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
MPI                                  984 non-null float64
lat                                  892 non-null float64
lon                                  892 non-null float64
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
dtypes: float64(7), object(5)
memory usage: 99.9+ KB

In [39]:
(mpi_info['MPI'] != mpi_info['MPI Regional']).sum()

0

`MPI` and `MPI Regional` are identical, so one can be removed

In [40]:
mpi_info.drop('MPI', axis=1, inplace=True)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 11 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
dtypes: float64(6), object(5)
memory usage: 92.2+ KB

In [41]:
mpi_info = mpi_info.merge(
    MPI_national,
    how='left',
    left_on=['country', 'ISO'],
    right_on=['Country', 'ISO'],
    suffixes=('', '_mn')
)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 18 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
Country                              984 non-null object
MPI Urban                            984 non-null float64
Headcount Ratio Urban                984 non-null float64
Intensity of Deprivation Urban       984 non-null float64
MPI Rural                            984 non-null float64
Headcount Ratio Rural                984 non-null float64
Intensity of Deprivation Rural       984 non-null float64
dtypes: float64(12), object(6)
memory usage: 146.1+ KB

Again, drop the columns that were merged on from the second dataset (not `ISO` since it was identical and there is still only 1 column with that value)

In [42]:
mpi_info.drop(['Country'], axis=1, inplace=True)

In [43]:
mpi_info[[key for key in mpi_info.keys() if 'mpi' in key.lower()]].sample(5)

     MPI National  MPI Regional  MPI Urban  MPI Rural
843         0.024         0.172      0.008      0.063
166         0.248         0.274      0.091      0.393
946         0.236         0.191      0.080      0.304
46          0.307         0.083      0.192      0.386
396         0.066         0.058      0.039      0.093

Notice that all features with *'mpi'* in the name are different, so they are all good to stay

In [44]:
mpi_info[[key for key in mpi_info.keys() if 'head' in key.lower()]].sample(5)

     Headcount Ratio Regional  Headcount Ratio Urban  Headcount Ratio Rural
972                      62.1                   29.5                  74.20
145                      92.4                   58.2                  89.79
427                       1.5                    1.1                   2.49
518                       4.2                    2.4                  31.21
757                      11.4                    8.1                  13.67

The same goes for the features with *'head'* in the name

In [45]:
mpi_info[[key for key in mpi_info.keys() if 'intensity' in key.lower()]].sample(5)

,Intensity of deprivation Regional,Intensity of Deprivation Urban,Intensity of Deprivation Rural
702,47.0,40.0,45.8
632,50.2,43.0,46.9
102,45.0,38.3,45.1
284,51.8,42.7,47.5
558,49.6,41.7,44.8

And the same for *'intensity'*

So this is the final dataset for all MPI information, so now it's time to merge it with the main dataset. First, I want to convert the features into `snake_case` because this is python, and also what I prefer

In [46]:
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 17 columns):
LocationName                         984 non-null object
ISO                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
MPI National                         984 non-null float64
MPI Regional                         984 non-null float64
Headcount Ratio Regional             984 non-null float64
Intensity of deprivation Regional    983 non-null float64
MPI Urban                            984 non-null float64
Headcount Ratio Urban                984 non-null float64
Intensity of Deprivation Urban       984 non-null float64
MPI Rural                            984 non-null float64
Headcount Ratio Rural                984 non-null float64
Intensity of Deprivation Rural       984 non-null float64
dtypes: float64(12), object(5)
memory usage: 138.4+ KB

In [47]:
snake_case = lambda colname: colname.lower().replace(' ','_')
mpi_info.rename(snake_case, axis=1, inplace=True)
mpi_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 17 columns):
locationname                         984 non-null object
iso                                  984 non-null object
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
mpi_national                         984 non-null float64
mpi_regional                         984 non-null float64
headcount_ratio_regional             984 non-null float64
intensity_of_deprivation_regional    983 non-null float64
mpi_urban                            984 non-null float64
headcount_ratio_urban                984 non-null float64
intensity_of_deprivation_urban       984 non-null float64
mpi_rural                            984 non-null float64
headcount_ratio_rural                984 non-null float64
intensity_of_deprivation_rural       984 non-null float64
dtypes: float64(12), object(5)
memory usage: 138.4+ KB

I'll do the same to `merged_data` before joining the last 2 datasets

In [48]:
snake_case = lambda colname: colname.lower().replace(' ','_')
merged_data.rename(snake_case, axis=1, inplace=True)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 35 columns):
id                    533461 non-null int64
funded_amount         533461 non-null float64
loan_amount           533461 non-null float64
activity              533461 non-null object
sector                533461 non-null object
use                   533456 non-null object
country_code          533453 non-null object
country               533461 non-null object
region                533461 non-null object
currency              533461 non-null object
partner_id            533461 non-null float64
posted_time           533461 non-null datetime64[ns]
disbursed_time        533461 non-null datetime64[ns]
funded_time           499549 non-null datetime64[ns]
term_in_months        533461 non-null float64
lender_count          533461 non-null int64
tags                  533461 non-null object
borrower_genders      533461 non-null object
repayment_interval    533461 non-null object
loan_theme_id         533461 non-null object
loan_theme_type       533461 non-null object
partner_id            533461 non-null object
field_partner_name    533461 non-null object
sector_ltbr           533461 non-null object
forkiva               533461 non-null object
iso                   533461 non-null object
number                533461 non-null float64
amount                533461 non-null float64
locationname          533461 non-null object
names                 518986 non-null object
lat                   518987 non-null float64
lon                   518987 non-null float64
mpi_region            533461 non-null object
mpi_geo               459053 non-null object
rural_pct             500967 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(2), object(21)
memory usage: 146.5+ MB

In [49]:
final_data = merged_data.merge(
    mpi_info,
    how='left',
    left_on='mpi_region',
    right_on='locationname',
    suffixes=('', '_mi')
)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 52 columns):
id                                   533461 non-null int64
funded_amount                        533461 non-null float64
loan_amount                          533461 non-null float64
activity                             533461 non-null object
sector                               533461 non-null object
use                                  533456 non-null object
country_code                         533453 non-null object
country                              533461 non-null object
region                               533461 non-null object
currency                             533461 non-null object
partner_id                           533461 non-null float64
posted_time                          533461 non-null datetime64[ns]
disbursed_time                       533461 non-null datetime64[ns]
funded_time                          499549 non-null datetime64[ns]
term_in_months                       533461 non-null float64
lender_count                         533461 non-null int64
tags                                 533461 non-null object
borrower_genders                     533461 non-null object
repayment_interval                   533461 non-null object
loan_theme_id                        533461 non-null object
loan_theme_type                      533461 non-null object
partner_id                           533461 non-null object
field_partner_name                   533461 non-null object
sector_ltbr                          533461 non-null object
forkiva                              533461 non-null object
iso                                  533461 non-null object
number                               533461 non-null float64
amount                               533461 non-null float64
locationname                         533461 non-null object
names                                518986 non-null object
lat                                  518987 non-null float64
lon                                  518987 non-null float64
mpi_region                           533461 non-null object
mpi_geo                              459053 non-null object
rural_pct                            500967 non-null float64
locationname_mi                      458894 non-null object
iso_mi                               458894 non-null object
country_mi                           458894 non-null object
region_mi                            458894 non-null object
world_region                         458894 non-null object
lat_mi                               458894 non-null float64
lon_mi                               458894 non-null float64
mpi_national                         458894 non-null float64
mpi_regional                         458894 non-null float64
headcount_ratio_regional             458894 non-null float64
intensity_of_deprivation_regional    458877 non-null float64
mpi_urban                            458894 non-null float64
headcount_ratio_urban                458894 non-null float64
intensity_of_deprivation_urban       458894 non-null float64
mpi_rural                            458894 non-null float64
headcount_ratio_rural                458894 non-null float64
intensity_of_deprivation_rural       458894 non-null float64
dtypes: datetime64[ns](3), float64(21), int64(2), object(26)
memory usage: 215.7+ MB

Remove `locationname_mi`, since it was merged on

In [50]:
final_data.drop('locationname_mi', axis=1, inplace=True)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 51 columns):
id                                   533461 non-null int64
funded_amount                        533461 non-null float64
loan_amount                          533461 non-null float64
activity                             533461 non-null object
sector                               533461 non-null object
use                                  533456 non-null object
country_code                         533453 non-null object
country                              533461 non-null object
region                               533461 non-null object
currency                             533461 non-null object
partner_id                           533461 non-null float64
posted_time                          533461 non-null datetime64[ns]
disbursed_time                       533461 non-null datetime64[ns]
funded_time                          499549 non-null datetime64[ns]
term_in_months                       533461 non-null float64
lender_count                         533461 non-null int64
tags                                 533461 non-null object
borrower_genders                     533461 non-null object
repayment_interval                   533461 non-null object
loan_theme_id                        533461 non-null object
loan_theme_type                      533461 non-null object
partner_id                           533461 non-null object
field_partner_name                   533461 non-null object
sector_ltbr                          533461 non-null object
forkiva                              533461 non-null object
iso                                  533461 non-null object
number                               533461 non-null float64
amount                               533461 non-null float64
locationname                         533461 non-null object
names                                518986 non-null object
lat                                  518987 non-null float64
lon                                  518987 non-null float64
mpi_region                           533461 non-null object
mpi_geo                              459053 non-null object
rural_pct                            500967 non-null float64
iso_mi                               458894 non-null object
country_mi                           458894 non-null object
region_mi                            458894 non-null object
world_region                         458894 non-null object
lat_mi                               458894 non-null float64
lon_mi                               458894 non-null float64
mpi_national                         458894 non-null float64
mpi_regional                         458894 non-null float64
headcount_ratio_regional             458894 non-null float64
intensity_of_deprivation_regional    458877 non-null float64
mpi_urban                            458894 non-null float64
headcount_ratio_urban                458894 non-null float64
intensity_of_deprivation_urban       458894 non-null float64
mpi_rural                            458894 non-null float64
headcount_ratio_rural                458894 non-null float64
intensity_of_deprivation_rural       458894 non-null float64
dtypes: datetime64[ns](3), float64(21), int64(2), object(25)
memory usage: 211.6+ MB

In [51]:
(final_data['country'] != final_data['country_mi']).sum()

95476

A good amount of the data has different values for these features, let's take a closer look

In [52]:
temp = final_data[final_data['country'] != final_data['country_mi']]
temp.sample(10)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,...,mpi_national,mpi_regional,headcount_ratio_regional,intensity_of_deprivation_regional,mpi_urban,headcount_ratio_urban,intensity_of_deprivation_urban,mpi_rural,headcount_ratio_rural,intensity_of_deprivation_rural
78747,775512,875.0,875.0,Catering,Food,"purchase supplies such as meat, vegetables and...",BO,Bolivia,Viacha,BOB,...,0.089,0.077,18.4,41.8,0.019,4.9,39.4,0.191,42.98,44.4
365292,1143805,1100.0,1100.0,Tailoring,Services,"to buy a new sewing machine, thread, needles, ...",WS,Samoa,Vailele,WST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139283,864486,550.0,550.0,Livestock,Agriculture,to buy several bee families and also several p...,AM,Armenia,Tavush region,AMD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44441,723573,1075.0,1075.0,Food Production/Sales,Food,"to buy cordials, a bag of sugar, a large barre...",WS,Samoa,Elise Fou,WST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516822,1315244,1300.0,1300.0,Personal Medical Expenses,Health,to pay his wife's childbirth expenses,LB,Lebanon,Tayouneh,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1922,656335,175.0,175.0,Farming,Agriculture,To purchase potato seeds and fertilizers for s...,IN,India,Dhupguri,INR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188653,927463,2000.0,2000.0,Grocery Store,Food,to increase her merchandise with newly request...,LB,Lebanon,Qana,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493161,1287743,875.0,875.0,Farming,Agriculture,to pay for soil plowing services and buy 300 k...,AM,Armenia,Spandaryan village,AMD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221180,965599,675.0,675.0,Fuel/Firewood,Retail,to buy gasoline to resell.,PH,Philippines,"Plaridel-Macalibre Alto, Lopez Jaena",PHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385908,1166585,375.0,375.0,Jewelry,Retail,to expand her women's accessories business by ...,IN,India,Surendranagar,INR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since country_mi is NaN often, let's only check when that isn't true

In [53]:
temp = temp[pd.notnull(temp['country_mi'])][['country','country_mi']]
temp.drop_duplicates()

                                    country                         country_mi
35                                 Tanzania       Tanzania, United Republic of
192                                 Bolivia    Bolivia, Plurinational State of
458                                 Vietnam                           Viet Nam
1665   The Democratic Republic of the Congo  Congo, Democratic Republic of the
59866                       Myanmar (Burma)                            Myanmar

All of the other cases just have alternate spellings, so dropping `country_mi` should cause no issues

In [54]:
final_data.drop('country_mi', axis=1, inplace=True)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 50 columns):
id                                   533461 non-null int64
funded_amount                        533461 non-null float64
loan_amount                          533461 non-null float64
activity                             533461 non-null object
sector                               533461 non-null object
use                                  533456 non-null object
country_code                         533453 non-null object
country                              533461 non-null object
region                               533461 non-null object
currency                             533461 non-null object
partner_id                           533461 non-null float64
posted_time                          533461 non-null datetime64[ns]
disbursed_time                       533461 non-null datetime64[ns]
funded_time                          499549 non-null datetime64[ns]
term_in_months                       533461 non-null float64
lender_count                         533461 non-null int64
tags                                 533461 non-null object
borrower_genders                     533461 non-null object
repayment_interval                   533461 non-null object
loan_theme_id                        533461 non-null object
loan_theme_type                      533461 non-null object
partner_id                           533461 non-null object
field_partner_name                   533461 non-null object
sector_ltbr                          533461 non-null object
forkiva                              533461 non-null object
iso                                  533461 non-null object
number                               533461 non-null float64
amount                               533461 non-null float64
locationname                         533461 non-null object
names                                518986 non-null object
lat                                  518987 non-null float64
lon                                  518987 non-null float64
mpi_region                           533461 non-null object
mpi_geo                              459053 non-null object
rural_pct                            500967 non-null float64
iso_mi                               458894 non-null object
region_mi                            458894 non-null object
world_region                         458894 non-null object
lat_mi                               458894 non-null float64
lon_mi                               458894 non-null float64
mpi_national                         458894 non-null float64
mpi_regional                         458894 non-null float64
headcount_ratio_regional             458894 non-null float64
intensity_of_deprivation_regional    458877 non-null float64
mpi_urban                            458894 non-null float64
headcount_ratio_urban                458894 non-null float64
intensity_of_deprivation_urban       458894 non-null float64
mpi_rural                            458894 non-null float64
headcount_ratio_rural                458894 non-null float64
intensity_of_deprivation_rural       458894 non-null float64
dtypes: datetime64[ns](3), float64(21), int64(2), object(24)
memory usage: 207.6+ MB

In [55]:
(final_data['mpi_region'] != final_data['region_mi']).sum()

533461

I have a strong feeling that `region_mi` is a substring of `mpi_region`, so let's see how often that is the case

In [56]:
vecin = np.vectorize(str.__contains__)
temp = final_data[['mpi_region', 'region_mi']].dropna()
(~vecin(temp['mpi_region'], temp['region_mi'])).sum()

0

This means that `region_mi` is always in `mpi_region`, so we can remove `region_mi` because it contains less info, right? Take a look at the data however

In [57]:
temp.sample(10)

                          mpi_region         region_mi
328046               Kampala, Uganda           Kampala
140988              Punjab, Pakistan            Punjab
381971          North Eastern, Kenya     North Eastern
386610     Islamabad (ICT), Pakistan   Islamabad (ICT)
82000      Bujumbura Mairie, Burundi  Bujumbura Mairie
507996  Central Visayas, Philippines   Central Visayas
364075     Galapagos Island, Ecuador  Galapagos Island
383398  Central Visayas, Philippines   Central Visayas
463505   Cagayan Valley, Philippines    Cagayan Valley
117918  Central Visayas, Philippines   Central Visayas

If I add the country to this data, it should be even more clear

In [58]:
temp = final_data[['mpi_region', 'region_mi', 'country']].dropna()
temp.sample(10)

                          mpi_region        region_mi      country
236311                Eastern, Kenya          Eastern        Kenya
493399             Solola, Guatemala           Solola    Guatemala
191092               Sindh, Pakistan            Sindh     Pakistan
188184                Central, Kenya          Central        Kenya
244509  Central Visayas, Philippines  Central Visayas  Philippines
302015                   Cusco, Peru            Cusco         Peru
315296                Eastern, Kenya          Eastern        Kenya
242602  Western Visayas, Philippines  Western Visayas  Philippines
153793  Western Visayas, Philippines  Western Visayas  Philippines
532882       Medellin A.M., Colombia    Medellin A.M.     Colombia

So it is better to keep `region_mi` over `mpi_region`, however I will change the names so it makes a little more sense. Later I realized that `region_mi` had some NaNs, so instead of just renaming, if `region_mi` is NaN, it takes the value from `mpi_region`

In [59]:
final_data['mpi_region'] = final_data['region_mi'].fillna(final_data['mpi_region'])
final_data.drop('region_mi', axis=1, inplace=True)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 49 columns):
id                                   533461 non-null int64
funded_amount                        533461 non-null float64
loan_amount                          533461 non-null float64
activity                             533461 non-null object
sector                               533461 non-null object
use                                  533456 non-null object
country_code                         533453 non-null object
country                              533461 non-null object
region                               533461 non-null object
currency                             533461 non-null object
partner_id                           533461 non-null float64
posted_time                          533461 non-null datetime64[ns]
disbursed_time                       533461 non-null datetime64[ns]
funded_time                          499549 non-null datetime64[ns]
term_in_months                       533461 non-null float64
lender_count                         533461 non-null int64
tags                                 533461 non-null object
borrower_genders                     533461 non-null object
repayment_interval                   533461 non-null object
loan_theme_id                        533461 non-null object
loan_theme_type                      533461 non-null object
partner_id                           533461 non-null object
field_partner_name                   533461 non-null object
sector_ltbr                          533461 non-null object
forkiva                              533461 non-null object
iso                                  533461 non-null object
number                               533461 non-null float64
amount                               533461 non-null float64
locationname                         533461 non-null object
names                                518986 non-null object
lat                                  518987 non-null float64
lon                                  518987 non-null float64
mpi_region                           533461 non-null object
mpi_geo                              459053 non-null object
rural_pct                            500967 non-null float64
iso_mi                               458894 non-null object
world_region                         458894 non-null object
lat_mi                               458894 non-null float64
lon_mi                               458894 non-null float64
mpi_national                         458894 non-null float64
mpi_regional                         458894 non-null float64
headcount_ratio_regional             458894 non-null float64
intensity_of_deprivation_regional    458877 non-null float64
mpi_urban                            458894 non-null float64
headcount_ratio_urban                458894 non-null float64
intensity_of_deprivation_urban       458894 non-null float64
mpi_rural                            458894 non-null float64
headcount_ratio_rural                458894 non-null float64
intensity_of_deprivation_rural       458894 non-null float64
dtypes: datetime64[ns](3), float64(21), int64(2), object(23)
memory usage: 203.5+ MB

In [60]:
final_data[['lat_mi', 'lon_mi', 'mpi_geo']].sample(10)

           lat_mi      lon_mi                           mpi_geo
289769  37.911356   69.097023           (37.9113562, 69.097023)
342014        NaN         NaN                               NaN
272229 -13.531950  -71.967463   (-13.53195, -71.96746259999999)
321970  10.510464    7.416505           (10.5104642, 7.4165053)
448172  14.171720  103.636271         (14.1717195, 103.6362715)
94225   13.839446  -83.932081  (13.8394456, -83.93208059999999)
422239  11.004984  122.537274         (11.0049836, 122.5372741)
523709   8.020163  124.685651  (8.020163499999999, 124.6856509)
266381  -0.115003   34.851379            (-0.115003, 34.851379)
179400        NaN         NaN                               NaN

As you can see here, `lat_mi` and `lon_mi` is just the decomposed information from `mpi_geo`, so we can drop `mpi_geo`. I will also rename the other features to `mpi_region_lat` and `mpi_region_lon` to make it a little more clear

In [61]:
final_data['mpi_region_lat'] = final_data['lat_mi']
final_data['mpi_region_lon'] = final_data['lon_mi']
final_data.drop(['mpi_geo', 'lat_mi', 'lon_mi'], axis=1, inplace=True)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 48 columns):
id                                   533461 non-null int64
funded_amount                        533461 non-null float64
loan_amount                          533461 non-null float64
activity                             533461 non-null object
sector                               533461 non-null object
use                                  533456 non-null object
country_code                         533453 non-null object
country                              533461 non-null object
region                               533461 non-null object
currency                             533461 non-null object
partner_id                           533461 non-null float64
posted_time                          533461 non-null datetime64[ns]
disbursed_time                       533461 non-null datetime64[ns]
funded_time                          499549 non-null datetime64[ns]
term_in_months                       533461 non-null float64
lender_count                         533461 non-null int64
tags                                 533461 non-null object
borrower_genders                     533461 non-null object
repayment_interval                   533461 non-null object
loan_theme_id                        533461 non-null object
loan_theme_type                      533461 non-null object
partner_id                           533461 non-null object
field_partner_name                   533461 non-null object
sector_ltbr                          533461 non-null object
forkiva                              533461 non-null object
iso                                  533461 non-null object
number                               533461 non-null float64
amount                               533461 non-null float64
locationname                         533461 non-null object
names                                518986 non-null object
lat                                  518987 non-null float64
lon                                  518987 non-null float64
mpi_region                           533461 non-null object
rural_pct                            500967 non-null float64
iso_mi                               458894 non-null object
world_region                         458894 non-null object
mpi_national                         458894 non-null float64
mpi_regional                         458894 non-null float64
headcount_ratio_regional             458894 non-null float64
intensity_of_deprivation_regional    458877 non-null float64
mpi_urban                            458894 non-null float64
headcount_ratio_urban                458894 non-null float64
intensity_of_deprivation_urban       458894 non-null float64
mpi_rural                            458894 non-null float64
headcount_ratio_rural                458894 non-null float64
intensity_of_deprivation_rural       458894 non-null float64
mpi_region_lat                       458894 non-null float64
mpi_region_lon                       458894 non-null float64
dtypes: datetime64[ns](3), float64(21), int64(2), object(22)
memory usage: 199.4+ MB

# TODO figure out what to do with data that has no MPI (just drop or try to salvage)

## This entire project takes around 3-4 minutes to run, so it's pretty efficient