In [1]:
import pandas as pd

kiva_datasets = ['kiva_loans', 'kiva_mpi_region_locations', 'loan_theme_ids', 'loan_themes_by_region']

kiva_loans_orig = pd.read_csv('kiva-data/' + kiva_datasets[0] + '.csv')
kiva_loans = kiva_loans_orig.copy()
kiva_loans_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null object
disbursed_time        668809 non-null object
funded_time           622874 non-null object
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  499789 non-null object
borrower_genders      666984 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null object
dtypes: float64(4), int64(2), object(14)
memory usage: 102.4+ MB

- id: not too useful
- funded_amount: could be very useful, especially if this can be treated as a label
    * LABEL?
- loan_amount: useful to know how much they are asking for
- activity: could be useful, but there are a lot of categories.
- sector: only 15 categories, could be very useful
- use: terrible without any processing, could be used for NLP or parsing out keywords
    * OPEN ENDED
- country_code: useful to find country based trends
- country: basically the same as country_code, can drop 1
- region: very important for tracking the poverty down to the lowest level possible
- currency: could be interesting to see correlations between funding time and currency
- partner_id: not useful on it's own, could be helpful to merge with other datasets that use the same id
    * USE FOR MERGE
- posted_time: time based features are useful
    * CONVERT
    * LABEL
- disbursed_time: would be useful to see if people's fudning interests align with disbursal time, however occasionally the loan is disbursed before funding, so this might not be too useful
    * CONVERT
    * LABEL?
- funded_time: useful to determine amount of time between posting and funding
    * CONVERT
    * LABEL
- term_in_months: useful to determine how quickly someone will be able to pay back, which might indicate their poverty level (i.e. 200\$ loan over 12 months indicates higher poverty than 200\$ loan over 6 months)
- lender_count: more people in the loan might indicate lower or higher welfare need, depending on other features
- tags: not useful in current state, could use tags as a label in order to predict popular attraction to the loan (separated by ', ')
    * CONVERT
    * LABEL?
- borrower_genders: not useful in current state, could convert to something like num_males, num_females (separated by ', ')
    * CONVERT
- repayment_interval: could hold some trends of welfare need
- date: might be similar/equal to posted_time, might remove
    * CONVERT

In [2]:
import time as t

time_cols = ['posted_time', 'disbursed_time', 'funded_time', 'date']

for col in time_cols:
    kiva_loans[col] = pd.to_datetime(kiva_loans_orig[col])

In [3]:
ary_cols = ['tags', 'borrower_genders']

def to_ar(strg, sep = ', '):
    if strg == 'nan':
        return []
    return strg.split(sep=sep)

for col in ary_cols:
    kiva_loans[col] = kiva_loans_orig[col].astype(str).apply(to_ar)

In [4]:
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 20 columns):
id                    671205 non-null int64
funded_amount         671205 non-null float64
loan_amount           671205 non-null float64
activity              671205 non-null object
sector                671205 non-null object
use                   666973 non-null object
country_code          671197 non-null object
country               671205 non-null object
region                614405 non-null object
currency              671205 non-null object
partner_id            657698 non-null float64
posted_time           671205 non-null datetime64[ns]
disbursed_time        668809 non-null datetime64[ns]
funded_time           622874 non-null datetime64[ns]
term_in_months        671205 non-null float64
lender_count          671205 non-null int64
tags                  671205 non-null object
borrower_genders      671205 non-null object
repayment_interval    671205 non-null object
date                  671205 non-null datetime64[ns]
dtypes: datetime64[ns](4), float64(4), int64(2), object(10)
memory usage: 102.4+ MB

In [5]:
kiva_loans['time_till_funded'] = (kiva_loans['funded_time'] - kiva_loans['posted_time']).astype('timedelta64[ns]')
kiva_loans['hours_till_funded'] = kiva_loans['time_till_funded'].astype('timedelta64[h]')

In [6]:
kiva_loans['hours_till_funded'][0]

27.0

In [7]:
kiva_loans['hours_till_funded'].describe()

count    622874.000000
mean        350.896796
std         345.578870
min        -421.000000
25%         124.000000
50%         230.000000
75%         540.000000
max       10093.000000
Name: hours_till_funded, dtype: float64

In [8]:
(kiva_loans['hours_till_funded'] < 0).sum()

1

For some reason, one of the rows has the funded time before the posted time.

In [9]:
def ior(i):
    i = iter(i)
    try:
        s = next(i)
    except StopIteration:
        return None
    for e in i:
        s = s | e
    return s

all_tags = ior(kiva_loans['tags'].apply(set))
all_tags

{'#Animals',
 '#Biz Durable Asset',
 '#Eco-friendly',
 '#Elderly',
 '#Fabrics',
 '#Female Education',
 '#First Loan',
 '#Health and Sanitation',
 '#Hidden Gem',
 '#Inspiring Story',
 '#Interesting Photo',
 '#Job Creator',
 '#Low-profit FP',
 '#Orphan',
 '#Parent',
 '#Post-disbursed',
 '#Refugee',
 '#Repair Renew Replace',
 '#Repeat Borrower',
 '#Schooling',
 '#Single',
 '#Single Parent',
 '#Supporting Family',
 '#Sustainable Ag',
 '#Technology',
 '#Tourism',
 '#Trees',
 '#Unique',
 '#Vegan',
 '#Widowed',
 '#Woman Owned Biz',
 'user_favorite',
 'user_like',
 'volunteer_like',
 'volunteer_pick'}

Not too many possible tags, could just do a one hot encoding without too many problems.

Here is the one hot encoding for it

In [10]:
import numpy as np
vecin = np.vectorize(list.__contains__)

for tag in all_tags:
    kiva_loans['tag_' + tag] = vecin(kiva_loans['tags'], tag).astype(int)

kiva_loans['tag_#Trees'].describe()

count    671205.000000
mean          0.011342
std           0.105895
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: tag_#Trees, dtype: float64

In [11]:
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 57 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector                        671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country                       671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_volunteer_like            671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Animals                  671205 non-null int64
dtypes: datetime64[ns](4), float64(5), int64(37), object(10), timedelta64[ns](1)
memory usage: 291.9+ MB

In [12]:
kiva_loans['num_male_borrowers'] = kiva_loans['borrower_genders'].apply(lambda x: x.count('male'))
kiva_loans['num_female_borrowers'] = kiva_loans['borrower_genders'].apply(len) - kiva_loans['num_male_borrowers']

In [13]:
(kiva_loans['num_male_borrowers'] > 0).sum()

178903

In [14]:
(kiva_loans['num_female_borrowers'] > 0).sum()

528461

Interesting to see that the majority of loans have at least 1 female borrower

Below I use the dataset I created using the Google Places API to get a second region which hopefully better matches with the `kiva_mpi_region_locations.csv` dataset

In [129]:
loan_theme_ids = pd.read_csv('kiva-data/' + kiva_datasets[2] + '.csv')
loan_theme_ids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB

In [133]:
kiva_loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671205 entries, 0 to 671204
Data columns (total 59 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector                        671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country                       671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_volunteer_like            671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Animals                  671205 non-null int64
num_male_borrowers            671205 non-null int64
num_female_borrowers          671205 non-null int64
dtypes: datetime64[ns](4), float64(5), int64(39), object(10), timedelta64[ns](1)
memory usage: 302.1+ MB

In [135]:
kiva_loan_theme_id = kiva_loans.merge(loan_theme_ids, how='left', on='id')
kiva_loan_theme_id.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 62 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector                        671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country                       671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_volunteer_like            671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Animals                  671205 non-null int64
num_male_borrowers            671205 non-null int64
num_female_borrowers          671205 non-null int64
Loan Theme ID                 657692 non-null object
Loan Theme Type               657692 non-null object
Partner ID                    657692 non-null float64
dtypes: datetime64[ns](4), float64(6), int64(39), object(12), timedelta64[ns](1)
memory usage: 322.6+ MB

In [137]:
loan_theme_region = pd.read_csv('kiva-data/' + kiva_datasets[3] + '.csv')
loan_theme_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB

In [150]:
loan_theme_region.sample(5)

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
6927,136,Gata Daku Multi-purpose Cooperative (GDMPC),General Financial Inclusion,a1050000000wf0h,General,Philippines,No,"p-7, casusan, oroquieta city, misamis occidental",NaN,PHL,...,100,"p-7, casusan, oroquieta city, misamis occident...",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,PHL,NaN,61.0
9021,169,SEF International,General Financial Inclusion,a1050000006TnqI,Agriculture (Women),Armenia,No,"Mrgastan village, Ejmiatsin region",NaN,ARM,...,1050,"Mrgastan village, Ejmiatsin region, Armenia","[(40.2007545, 44.2770015)]",Mrgastan; Armavir Province; Armenia,"(40.2007545, 44.2770015)",40.200754,44.277002,ARM,NaN,68.0
1893,81,Apoyo Integral,General Financial Inclusion,a1050000000SqOh,At-Risk Youth,El Salvador,No,Gotera,NaN,SLV,...,9050,"Gotera, El Salvador","[(13.6927457, -88.1047287)]",San Francisco Gotera; MorazÍn Department; El ...,"(13.6927457, -88.1047287)",13.692746,-88.104729,"Morazan, El Salvador","(13.7682, -88.1291387)",57.0
580,40,Grounded and Holistic Approach for People's Em...,General Financial Inclusion,a1050000000shPp,Extreme Poverty,Cameroon,No,"Nanga Street, Bamenda",NaN,CMR,...,350,"Nanga Street, Bamenda, Cameroon",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,CMR,NaN,93.0
9108,169,SEF International,General Financial Inclusion,a1050000000daSp,Conflict Zone,Armenia,Yes,"Ptghavan village, Tavush region",NaN,ARM,...,12775,"Ptghavan village, Tavush region, Armenia","[(41.2272725, 44.86106669999999)]",Ptghavan; Tavush Province; Armenia,"(41.2272725, 44.86106669999999)",41.227272,44.861067,ARM,NaN,68.0

In [141]:
kiva_loans_subregion = kiva_loan_theme_id.merge(loan_theme_region, how='left', on=['Loan Theme ID', 'Partner ID', 'region'])
kiva_loans_subregion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 80 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector_x                      671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country_x                     671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_volunteer_like            671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Animals                  671205 non-null int64
num_male_borrowers            671205 non-null int64
num_female_borrowers          671205 non-null int64
Loan Theme ID                 657692 non-null object
Loan Theme Type_x             657692 non-null object
Partner ID                    657692 non-null object
Field Partner Name            533462 non-null object
sector_y                      533462 non-null object
Loan Theme Type_y             533462 non-null object
country_y                     533462 non-null object
forkiva                       533462 non-null object
geocode_old                   108977 non-null object
ISO                           533461 non-null object
number                        533462 non-null float64
amount                        533462 non-null float64
LocationName                  533462 non-null object
geocode                       518988 non-null object
names                         518987 non-null object
geo                           533462 non-null object
lat                           518988 non-null float64
lon                           518988 non-null float64
mpi_region                    533461 non-null object
mpi_geo                       459053 non-null object
rural_pct                     500967 non-null float64
dtypes: datetime64[ns](4), float64(10), int64(39), object(26), timedelta64[ns](1)
memory usage: 414.8+ MB

In [151]:
kiva_loans_subregion_wmpi = kiva_loans_subregion[pd.notnull(kiva_loans_subregion['mpi_region'])]
kiva_loans_subregion_wmpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 1 to 671149
Data columns (total 80 columns):
id                            533461 non-null int64
funded_amount                 533461 non-null float64
loan_amount                   533461 non-null float64
activity                      533461 non-null object
sector_x                      533461 non-null object
use                           533456 non-null object
country_code                  533453 non-null object
country_x                     533461 non-null object
region                        533461 non-null object
currency                      533461 non-null object
partner_id                    533461 non-null float64
posted_time                   533461 non-null datetime64[ns]
disbursed_time                533461 non-null datetime64[ns]
funded_time                   499549 non-null datetime64[ns]
term_in_months                533461 non-null float64
lender_count                  533461 non-null int64
tags                          533461 non-null object
borrower_genders              533461 non-null object
repayment_interval            533461 non-null object
date                          533461 non-null datetime64[ns]
time_till_funded              499549 non-null timedelta64[ns]
hours_till_funded             499549 non-null float64
tag_volunteer_like            533461 non-null int64
tag_#Vegan                    533461 non-null int64
tag_#Unique                   533461 non-null int64
tag_#Eco-friendly             533461 non-null int64
tag_#Hidden Gem               533461 non-null int64
tag_#Biz Durable Asset        533461 non-null int64
tag_#Woman Owned Biz          533461 non-null int64
tag_#Schooling                533461 non-null int64
tag_#Job Creator              533461 non-null int64
tag_#Health and Sanitation    533461 non-null int64
tag_#First Loan               533461 non-null int64
tag_volunteer_pick            533461 non-null int64
tag_#Refugee                  533461 non-null int64
tag_user_like                 533461 non-null int64
tag_#Repeat Borrower          533461 non-null int64
tag_#Single Parent            533461 non-null int64
tag_#Orphan                   533461 non-null int64
tag_#Low-profit FP            533461 non-null int64
tag_#Widowed                  533461 non-null int64
tag_user_favorite             533461 non-null int64
tag_#Tourism                  533461 non-null int64
tag_#Interesting Photo        533461 non-null int64
tag_#Post-disbursed           533461 non-null int64
tag_#Trees                    533461 non-null int64
tag_#Sustainable Ag           533461 non-null int64
tag_#Fabrics                  533461 non-null int64
tag_#Supporting Family        533461 non-null int64
tag_#Parent                   533461 non-null int64
tag_#Repair Renew Replace     533461 non-null int64
tag_#Elderly                  533461 non-null int64
tag_#Female Education         533461 non-null int64
tag_#Technology               533461 non-null int64
tag_#Single                   533461 non-null int64
tag_#Inspiring Story          533461 non-null int64
tag_#Animals                  533461 non-null int64
num_male_borrowers            533461 non-null int64
num_female_borrowers          533461 non-null int64
Loan Theme ID                 533461 non-null object
Loan Theme Type_x             533461 non-null object
Partner ID                    533461 non-null object
Field Partner Name            533461 non-null object
sector_y                      533461 non-null object
Loan Theme Type_y             533461 non-null object
country_y                     533461 non-null object
forkiva                       533461 non-null object
geocode_old                   108977 non-null object
ISO                           533461 non-null object
number                        533461 non-null float64
amount                        533461 non-null float64
LocationName                  533461 non-null object
geocode                       518987 non-null object
names                         518986 non-null object
geo                           533461 non-null object
lat                           518987 non-null float64
lon                           518987 non-null float64
mpi_region                    533461 non-null object
mpi_geo                       459053 non-null object
rural_pct                     500967 non-null float64
dtypes: datetime64[ns](4), float64(10), int64(39), object(26), timedelta64[ns](1)
memory usage: 329.7+ MB

In [153]:
kiva_mpi_locs = pd.read_csv('kiva-data/' + kiva_datasets[1] + '.csv')
kiva_mpi_locs = kiva_mpi_locs[pd.notnull(kiva_mpi_locs['MPI'])]
kiva_mpi_locs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             984 non-null object
country         984 non-null object
region          984 non-null object
world_region    984 non-null object
MPI             984 non-null float64
geo             984 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 76.9+ KB

In [155]:
kiva_mpi_locs.sample(5)

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
994,"Northern, Zambia",ZMB,Zambia,Northern,Sub-Saharan Africa,0.397,"(-9.7670177, 30.8958242)",-9.767018,30.895824
818,"Bonthe, Sierra Leone",SLE,Sierra Leone,Bonthe,Sub-Saharan Africa,0.478,"(30.585164, 36.238414)",30.585164,36.238414
328,"Huehuetenango, Guatemala",GTM,Guatemala,Huehuetenango,Latin America and Caribbean,0.187,"(15.3198766, -91.4918235)",15.319877,-91.491823
523,"El Gharb-Chrarda Bni Hssen, Morocco",MAR,Morocco,El Gharb-Chrarda Bni Hssen,Arab States,0.084,"(34.302131, -6.302078)",34.302131,-6.302078
734,"Sindh, Pakistan",PAK,Pakistan,Sindh,South Asia,0.294,"(25.8943018, 68.52471489999999)",25.894302,68.524715

In [156]:
kiva_loans_mpi = kiva_loans_subregion_wmpi.merge(kiva_mpi_locs, how='left', left_on='mpi_region', right_on='LocationName')
kiva_loans_mpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 533461 entries, 0 to 533460
Data columns (total 89 columns):
id                            533461 non-null int64
funded_amount                 533461 non-null float64
loan_amount                   533461 non-null float64
activity                      533461 non-null object
sector_x                      533461 non-null object
use                           533456 non-null object
country_code                  533453 non-null object
country_x                     533461 non-null object
region_x                      533461 non-null object
currency                      533461 non-null object
partner_id                    533461 non-null float64
posted_time                   533461 non-null datetime64[ns]
disbursed_time                533461 non-null datetime64[ns]
funded_time                   499549 non-null datetime64[ns]
term_in_months                533461 non-null float64
lender_count                  533461 non-null int64
tags                          533461 non-null object
borrower_genders              533461 non-null object
repayment_interval            533461 non-null object
date                          533461 non-null datetime64[ns]
time_till_funded              499549 non-null timedelta64[ns]
hours_till_funded             499549 non-null float64
tag_volunteer_like            533461 non-null int64
tag_#Vegan                    533461 non-null int64
tag_#Unique                   533461 non-null int64
tag_#Eco-friendly             533461 non-null int64
tag_#Hidden Gem               533461 non-null int64
tag_#Biz Durable Asset        533461 non-null int64
tag_#Woman Owned Biz          533461 non-null int64
tag_#Schooling                533461 non-null int64
tag_#Job Creator              533461 non-null int64
tag_#Health and Sanitation    533461 non-null int64
tag_#First Loan               533461 non-null int64
tag_volunteer_pick            533461 non-null int64
tag_#Refugee                  533461 non-null int64
tag_user_like                 533461 non-null int64
tag_#Repeat Borrower          533461 non-null int64
tag_#Single Parent            533461 non-null int64
tag_#Orphan                   533461 non-null int64
tag_#Low-profit FP            533461 non-null int64
tag_#Widowed                  533461 non-null int64
tag_user_favorite             533461 non-null int64
tag_#Tourism                  533461 non-null int64
tag_#Interesting Photo        533461 non-null int64
tag_#Post-disbursed           533461 non-null int64
tag_#Trees                    533461 non-null int64
tag_#Sustainable Ag           533461 non-null int64
tag_#Fabrics                  533461 non-null int64
tag_#Supporting Family        533461 non-null int64
tag_#Parent                   533461 non-null int64
tag_#Repair Renew Replace     533461 non-null int64
tag_#Elderly                  533461 non-null int64
tag_#Female Education         533461 non-null int64
tag_#Technology               533461 non-null int64
tag_#Single                   533461 non-null int64
tag_#Inspiring Story          533461 non-null int64
tag_#Animals                  533461 non-null int64
num_male_borrowers            533461 non-null int64
num_female_borrowers          533461 non-null int64
Loan Theme ID                 533461 non-null object
Loan Theme Type_x             533461 non-null object
Partner ID                    533461 non-null object
Field Partner Name            533461 non-null object
sector_y                      533461 non-null object
Loan Theme Type_y             533461 non-null object
country_y                     533461 non-null object
forkiva                       533461 non-null object
geocode_old                   108977 non-null object
ISO_x                         533461 non-null object
number                        533461 non-null float64
amount                        533461 non-null float64
LocationName_x                533461 non-null object
geocode                       518987 non-null object
names                         518986 non-null object
geo_x                         533461 non-null object
lat_x                         518987 non-null float64
lon_x                         518987 non-null float64
mpi_region                    533461 non-null object
mpi_geo                       459053 non-null object
rural_pct                     500967 non-null float64
LocationName_y                458894 non-null object
ISO_y                         458894 non-null object
country                       458894 non-null object
region_y                      458894 non-null object
world_region                  458894 non-null object
MPI                           458894 non-null float64
geo_y                         458894 non-null object
lat_y                         458894 non-null float64
lon_y                         458894 non-null float64
dtypes: datetime64[ns](4), float64(13), int64(39), object(32), timedelta64[ns](1)
memory usage: 366.3+ MB

In [157]:
kiva_loans_mpi_final = kiva_loans_mpi[pd.notnull(kiva_loans_mpi['MPI'])]
kiva_loans_mpi_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458894 entries, 0 to 533459
Data columns (total 89 columns):
id                            458894 non-null int64
funded_amount                 458894 non-null float64
loan_amount                   458894 non-null float64
activity                      458894 non-null object
sector_x                      458894 non-null object
use                           458889 non-null object
country_code                  458886 non-null object
country_x                     458894 non-null object
region_x                      458894 non-null object
currency                      458894 non-null object
partner_id                    458894 non-null float64
posted_time                   458894 non-null datetime64[ns]
disbursed_time                458894 non-null datetime64[ns]
funded_time                   431465 non-null datetime64[ns]
term_in_months                458894 non-null float64
lender_count                  458894 non-null int64
tags                          458894 non-null object
borrower_genders              458894 non-null object
repayment_interval            458894 non-null object
date                          458894 non-null datetime64[ns]
time_till_funded              431465 non-null timedelta64[ns]
hours_till_funded             431465 non-null float64
tag_volunteer_like            458894 non-null int64
tag_#Vegan                    458894 non-null int64
tag_#Unique                   458894 non-null int64
tag_#Eco-friendly             458894 non-null int64
tag_#Hidden Gem               458894 non-null int64
tag_#Biz Durable Asset        458894 non-null int64
tag_#Woman Owned Biz          458894 non-null int64
tag_#Schooling                458894 non-null int64
tag_#Job Creator              458894 non-null int64
tag_#Health and Sanitation    458894 non-null int64
tag_#First Loan               458894 non-null int64
tag_volunteer_pick            458894 non-null int64
tag_#Refugee                  458894 non-null int64
tag_user_like                 458894 non-null int64
tag_#Repeat Borrower          458894 non-null int64
tag_#Single Parent            458894 non-null int64
tag_#Orphan                   458894 non-null int64
tag_#Low-profit FP            458894 non-null int64
tag_#Widowed                  458894 non-null int64
tag_user_favorite             458894 non-null int64
tag_#Tourism                  458894 non-null int64
tag_#Interesting Photo        458894 non-null int64
tag_#Post-disbursed           458894 non-null int64
tag_#Trees                    458894 non-null int64
tag_#Sustainable Ag           458894 non-null int64
tag_#Fabrics                  458894 non-null int64
tag_#Supporting Family        458894 non-null int64
tag_#Parent                   458894 non-null int64
tag_#Repair Renew Replace     458894 non-null int64
tag_#Elderly                  458894 non-null int64
tag_#Female Education         458894 non-null int64
tag_#Technology               458894 non-null int64
tag_#Single                   458894 non-null int64
tag_#Inspiring Story          458894 non-null int64
tag_#Animals                  458894 non-null int64
num_male_borrowers            458894 non-null int64
num_female_borrowers          458894 non-null int64
Loan Theme ID                 458894 non-null object
Loan Theme Type_x             458894 non-null object
Partner ID                    458894 non-null object
Field Partner Name            458894 non-null object
sector_y                      458894 non-null object
Loan Theme Type_y             458894 non-null object
country_y                     458894 non-null object
forkiva                       458894 non-null object
geocode_old                   95871 non-null object
ISO_x                         458894 non-null object
number                        458894 non-null float64
amount                        458894 non-null float64
LocationName_x                458894 non-null object
geocode                       458894 non-null object
names                         458894 non-null object
geo_x                         458894 non-null object
lat_x                         458894 non-null float64
lon_x                         458894 non-null float64
mpi_region                    458894 non-null object
mpi_geo                       458894 non-null object
rural_pct                     436443 non-null float64
LocationName_y                458894 non-null object
ISO_y                         458894 non-null object
country                       458894 non-null object
region_y                      458894 non-null object
world_region                  458894 non-null object
MPI                           458894 non-null float64
geo_y                         458894 non-null object
lat_y                         458894 non-null float64
lon_y                         458894 non-null float64
dtypes: datetime64[ns](4), float64(13), int64(39), object(32), timedelta64[ns](1)
memory usage: 315.1+ MB

In [158]:
kiva_loans_mpi_final[~pd.notnull(kiva_loans_mpi_final['funded_time'])]

,id,funded_amount,loan_amount,activity,sector_x,use,country_code,country_x,region_x,currency,...,rural_pct,LocationName_y,ISO_y,country,region_y,world_region,MPI,geo_y,lat_y,lon_y
486,653916,475.0,1050.0,Pub,Food,to buy stock wholesale,CO,Colombia,Andes,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
495,653912,500.0,1050.0,Beverages,Food,buy a motorcycle along with cargo and packaged...,CO,Colombia,La Dorada,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
591,654153,975.0,1475.0,Wedding Expenses,Personal Use,to put on a wedding party for her son,TJ,Tajikistan,Yavan,TJS,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
663,653957,1725.0,2600.0,Agriculture,Agriculture,"to buy wholesale farming supplies (seeds, manu...",CO,Colombia,El Carmen de Viboral,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
690,654104,550.0,1050.0,Wedding Expenses,Personal Use,pay for her daughter's wedding reception,TJ,Tajikistan,Isfara,TJS,...,0.0,"Districts of Republican Subordination, Tajikistan",TJK,Tajikistan,Districts of Republican Subordination,Europe and Central Asia,0.045,"(39.0857902, 70.2408325)",39.085790,70.240832
700,654005,825.0,1550.0,Agriculture,Agriculture,"To purchase inventory wholesale (snacks, soft ...",CO,Colombia,Sonson,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
755,654478,750.0,925.0,Motorcycle Transport,Transportation,to repair and service his three motocycles,KE,Kenya,Narok,KES,...,65.0,"Nairobi, Kenya",KEN,Kenya,Nairobi,Sub-Saharan Africa,0.020,"(-1.2920659, 36.8219462)",-1.292066,36.821946
756,654582,3300.0,5525.0,Clothing Sales,Clothing,to buy clothes to resell.,TZ,Tanzania,Dar es Salaam,TZS,...,0.0,"Zanzibar, Tanzania, United Republic of",TZA,"Tanzania, United Republic of",Zanzibar,Sub-Saharan Africa,0.143,"(-6.135729500000001, 39.3621196)",-6.135730,39.362120
786,654721,550.0,925.0,Motorcycle Transport,Transportation,to purchase spare parts for his motorbike and ...,KE,Kenya,Samburu,KES,...,99.0,"North Eastern, Kenya",KEN,Kenya,North Eastern,Sub-Saharan Africa,0.509,"(-0.0190061, 37.6480812)",-0.019006,37.648081
794,654630,875.0,1500.0,Wedding Expenses,Personal Use,to hold a wedding for his son,TJ,Tajikistan,Panjakent,USD,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
828,654574,650.0,1050.0,Wedding Expenses,Personal Use,To pay for her sister's wedding.,TJ,Tajikistan,Panjakent,TJS,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
843,654471,800.0,1050.0,Motorcycle Transport,Transportation,to purchase another motorcycle.,KE,Kenya,Narok,KES,...,65.0,"Nairobi, Kenya",KEN,Kenya,Nairobi,Sub-Saharan Africa,0.020,"(-1.2920659, 36.8219462)",-1.292066,36.821946
849,654541,575.0,1000.0,Consumer Goods,Personal Use,to buy furniture for her household,TJ,Tajikistan,Panjakent,USD,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
882,654660,375.0,950.0,Animal Sales,Agriculture,To buy cattle for his new business.,TJ,Tajikistan,Gissar,TJS,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
914,654869,125.0,1550.0,Mobile Phones,Retail,to stock his store.,CO,Colombia,Santa Fe de Antioquia,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
938,654548,425.0,850.0,Wedding Expenses,Personal Use,to hold a wedding party for her son,TJ,Tajikistan,Panjakent,TJS,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
991,654484,775.0,1025.0,Motorcycle Transport,Transportation,to purchase a motorcycle,KE,Kenya,Narok,KES,...,65.0,"Nairobi, Kenya",KEN,Kenya,Nairobi,Sub-Saharan Africa,0.020,"(-1.2920659, 36.8219462)",-1.292066,36.821946
997,654778,700.0,1000.0,Clothing Sales,Clothing,to buy clothing.,HN,Honduras,San Lorenzo,HNL,...,90.0,"Valle, Honduras",HND,Honduras,Valle,Latin America and Caribbean,0.068,"(13.5782936, -87.5791287)",13.578294,-87.579129
1027,655309,2350.0,3625.0,Retail,Retail,"to buy men's and women's trousers, shirts, blo...",NI,Nicaragua,Masaya,NIO,...,40.0,"Masaya, Nicaragua",NIC,Nicaragua,Masaya,Latin America and Caribbean,0.017,"(11.9704485, -86.0886366)",11.970448,-86.088637
1089,655067,750.0,1575.0,Wedding Expenses,Personal Use,"To hold a wedding party for her daughter, and ...",TJ,Tajikistan,Dushanbe,TJS,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
1105,654951,1625.0,2000.0,Agriculture,Agriculture,purchase fertilizer,TJ,Tajikistan,Istaravshan,USD,...,62.0,"Sughd, Tajikistan",TJK,Tajikistan,Sughd,Europe and Central Asia,0.033,"(39.5155326, 69.097023)",39.515533,69.097023
1110,655099,1300.0,1575.0,Wedding Expenses,Personal Use,To hold a wedding party for her daughter and p...,TJ,Tajikistan,Istaravshan,TJS,...,0.0,"Sughd, Tajikistan",TJK,Tajikistan,Sughd,Europe and Central Asia,0.033,"(39.5155326, 69.097023)",39.515533,69.097023
1120,655139,1050.0,2000.0,Agriculture,Agriculture,purchase seeds,TJ,Tajikistan,Istaravshan,USD,...,62.0,"Sughd, Tajikistan",TJK,Tajikistan,Sughd,Europe and Central Asia,0.033,"(39.5155326, 69.097023)",39.515533,69.097023
1185,655367,450.0,800.0,Retail,Retail,"to buy towels, bed linens, fruit dishes, rice,...",NI,Nicaragua,Masaya,NIO,...,40.0,"Masaya, Nicaragua",NIC,Nicaragua,Masaya,Latin America and Caribbean,0.017,"(11.9704485, -86.0886366)",11.970448,-86.088637
1255,655117,750.0,2000.0,Animal Sales,Agriculture,to buy livestock and start his animal husbandr...,TJ,Tajikistan,Farkhor,USD,...,80.0,"Khatlon, Tajikistan",TJK,Tajikistan,Khatlon,Europe and Central Asia,0.086,"(37.9113562, 69.097023)",37.911356,69.097023
1274,655357,1925.0,3775.0,Food Production/Sales,Food,"to purchase chicken, oil, flour, plantains, ch...",NI,Nicaragua,Masaya,NIO,...,40.0,"Masaya, Nicaragua",NIC,Nicaragua,Masaya,Latin America and Caribbean,0.017,"(11.9704485, -86.0886366)",11.970448,-86.088637
1563,655607,1450.0,1575.0,Personal Housing Expenses,Housing,to buy building materials to repair her house.,TJ,Tajikistan,Kanibadam,TJS,...,0.0,"Districts of Republican Subordination, Tajikistan",TJK,Tajikistan,Districts of Republican Subordination,Europe and Central Asia,0.045,"(39.0857902, 70.2408325)",39.085790,70.240832
1641,655501,425.0,1050.0,Food Market,Food,To open a grocery store and purchase the first...,TJ,Tajikistan,Konibodom,TJS,...,80.0,"Districts of Republican Subordination, Tajikistan",TJK,Tajikistan,Districts of Republican Subordination,Europe and Central Asia,0.045,"(39.0857902, 70.2408325)",39.085790,70.240832
1797,656094,450.0,1000.0,Wedding Expenses,Personal Use,To make her daughter’s marriage party,TJ,Tajikistan,Yavan,USD,...,0.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
1912,656295,1200.0,2000.0,Animal Sales,Agriculture,to buy livestock and start his own business,TJ,Tajikistan,Yavan,USD,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533405,1338605,0.0,300.0,Fruits & Vegetables,Food,to purchase a cart to sell fruit and she will ...,SV,El Salvador,Gotera,USD,...,87.0,"Morazan, El Salvador",SLV,El Salvador,Morazan,Latin America and Caribbean,0.040,"(13.7682, -88.1291387)",13.768200,-88.129139
533407,1338627,0.0,400.0,Clothing Sales,Clothing,"to buy women's clothing such as blouses, pants...",CO,Colombia,Marinilla,COP,...,16.0,"Medellin A.M., Colombia",COL,Colombia,Medellin A.M.,Latin America and Caribbean,0.005,"(6.244203, -75.5812119)",6.244203,-75.581212
533408,1338402,0.0,1000.0,Cattle,Agriculture,Translated loan use to english.,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533410,1338465,75.0,500.0,Farming,Agriculture,to purchase fertilizer.,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533411,1338416,75.0,450.0,Agriculture,Agriculture,Rosa to buy agricultural inputs to grow basic ...,SV,El Salvador,San Miguel,USD,...,87.0,"San Miguel, El Salvador",SLV,El Salvador,San Miguel,Latin America and Caribbean,0.030,"(13.4792922, -88.1779182)",13.479292,-88.177918
533412,1338601,0.0,325.0,Food Production/Sales,Food,to purchase a new industrial griddle to sell t...,SV,El Salvador,Gotera,USD,...,87.0,"Morazan, El Salvador",SLV,El Salvador,Morazan,Latin America and Caribbean,0.040,"(13.7682, -88.1291387)",13.768200,-88.129139
533414,1338352,150.0,600.0,Farming,Agriculture,to buy fungicides.,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533415,1337875,50.0,1925.0,Education provider,Education,to continue and complete studies in Industrial...,PE,Peru,Lima,USD,...,99.0,"Lima, Peru",PER,Peru,Lima,Latin America and Caribbean,0.004,"(-12.0463731, -77.042754)",-12.046373,-77.042754
533416,1338385,50.0,1500.0,Dairy,Agriculture,to buy a dairy cow.,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533417,1338393,50.0,4925.0,Auto Repair,Services,to buy tools for his services.,BO,Bolivia,Monteagudo,BOB,...,70.0,"Chuquisaca, Bolivia, Plurinational State of",BOL,"Bolivia, Plurinational State of",Chuquisaca,Latin America and Caribbean,0.145,"(-20.0249144, -64.1478236)",-20.024914,-64.147824
533418,1338558,0.0,150.0,Beverages,Food,to buy cases of beer for the deli he manages.,CO,Colombia,Sampues,COP,...,16.0,"Barranquilla A. M., Colombia",COL,Colombia,Barranquilla A. M.,Latin America and Caribbean,0.009,"(11.0041072, -74.80698129999999)",11.004107,-74.806981
533419,1338384,50.0,700.0,Livestock,Agriculture,to buy livestock to raise.,CO,Colombia,El Carmen de Bolivar,COP,...,16.0,"Barranquilla A. M., Colombia",COL,Colombia,Barranquilla A. M.,Latin America and Caribbean,0.009,"(11.0041072, -74.80698129999999)",11.004107,-74.806981
533423,1338874,50.0,350.0,Sewing,Services,to purchase quality fabrics to satisfy her cus...,TJ,Tajikistan,Khuroson,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533425,1339254,0.0,1300.0,Farming,Agriculture,to buy compost and fertilizers and to hire wor...,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533426,1339237,0.0,1300.0,Pigs,Agriculture,"to buy pigs, potatoes, and balanced feed.",EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533427,1339195,100.0,1150.0,Office Supplies,Retail,to purchase office supplies to open a store an...,TJ,Tajikistan,Khuroson,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533432,1339202,0.0,575.0,Sewing,Services,to purchase quality fabric and to pay for her ...,TJ,Tajikistan,Khuroson,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533435,1339110,0.0,250.0,Personal Medical Expenses,Health,for his wife's medical treatment.,TJ,Tajikistan,Rudaki,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533436,1339182,50.0,475.0,Animal Sales,Agriculture,to purchase livestock to start a new business,TJ,Tajikistan,Yavan,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533439,1339244,75.0,1000.0,Farming,Agriculture,to buy fertilizer and contract workers.,EC,Ecuador,San Gabriel,USD,...,49.0,"Galapagos Island, Ecuador",ECU,Ecuador,Galapagos Island,Latin America and Caribbean,0.003,"(-0.2051725, -78.4896935)",-0.205172,-78.489694
533441,1338859,0.0,575.0,Food Market,Food,to purchase food products and start a new busi...,TJ,Tajikistan,A. Jomi,TJS,...,80.0,"Khatlon, Tajikistan",TJK,Tajikistan,Khatlon,Europe and Central Asia,0.086,"(37.9113562, 69.097023)",37.911356,69.097023
533442,1339091,75.0,350.0,Livestock,Agriculture,to buy livestock to start a new business and p...,TJ,Tajikistan,Vahdat,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533443,1338844,0.0,3425.0,Personal Medical Expenses,Health,to purchase medications and pay for her medica...,TJ,Tajikistan,Isfara,TJS,...,80.0,"Districts of Republican Subordination, Tajikistan",TJK,Tajikistan,Districts of Republican Subordination,Europe and Central Asia,0.045,"(39.0857902, 70.2408325)",39.085790,70.240832
533446,1339073,0.0,925.0,Sewing,Services,to purchase a modernized sewing machine and ot...,TJ,Tajikistan,Vahdat,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533448,1339831,50.0,1150.0,Higher education costs,Education,"to pay his nephews' tuition, so that they can ...",TJ,Tajikistan,Qurgan-Tube,TJS,...,80.0,"Khatlon, Tajikistan",TJK,Tajikistan,Khatlon,Europe and Central Asia,0.086,"(37.9113562, 69.097023)",37.911356,69.097023
533449,1339925,75.0,575.0,Animal Sales,Agriculture,to purchase cattle to expand her business,TJ,Tajikistan,Khuroson,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533453,1339765,0.0,925.0,Sewing,Services,to purchase sewing supplies to expand her busi...,TJ,Tajikistan,Dushanbe,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533457,1339916,0.0,700.0,Livestock,Agriculture,to purchase livestock and expand her activities,TJ,Tajikistan,Khuroson,TJS,...,80.0,"Dushanbe, Tajikistan",TJK,Tajikistan,Dushanbe,Europe and Central Asia,0.021,"(38.5597722, 68.7870384)",38.559772,68.787038
533458,1339743,0.0,250.0,Food Stall,Food,to buy watermelon to start a new business.,TJ,Tajikistan,Spitamen,TJS,...,80.0,"Sughd, Tajikistan",TJK,Tajikistan,Sughd,Europe and Central Asia,0.033,"(39.5155326, 69.097023)",39.515533,69.097023
533459,1339874,0.0,400.0,Personal Medical Expenses,Health,to pay for her son's immediate medical treatment,TJ,Tajikistan,Isfara,TJS,...,80.0,"Districts of Republican Subordination, Tajikistan",TJK,Tajikistan,Districts of Republican Subordination,Europe and Central Asia,0.045,"(39.0857902, 70.2408325)",39.085790,70.240832

In [111]:
subnat_regions = pd.read_csv('subnat_regions.csv').drop('id', axis=1)

In [112]:
subnat_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12821 entries, 0 to 12820
Data columns (total 3 columns):
region           12749 non-null object
country          12821 non-null object
subnat_region    12733 non-null object
dtypes: object(3)
memory usage: 300.6+ KB

In [113]:
kiva_subnat_loans = kiva_loans.merge(subnat_regions, how='left', on=['region', 'country'])

In [114]:
kiva_subnat_loans.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 60 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector                        671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country                       671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_volunteer_like            671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Animals                  671205 non-null int64
num_male_borrowers            671205 non-null int64
num_female_borrowers          671205 non-null int64
subnat_region                 614184 non-null object
dtypes: datetime64[ns](4), float64(5), int64(39), object(11), timedelta64[ns](1)
memory usage: 312.4+ MB

In [25]:
kiva_mpi_region_locations_orig = pd.read_csv('kiva-data/' + kiva_datasets[1] + '.csv')
mpi_nat_orig = pd.read_csv('mpi-data/MPI_national.csv')
mpi_subnat_orig = pd.read_csv('mpi-data/MPI_subnational.csv')
kiva_mpi_region_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB

In [26]:
kiva_mpi_region_locations = kiva_mpi_region_locations_orig.rename(lambda x: 'mr_' + str(x), axis=1)
mpi_nat = mpi_nat_orig.rename(lambda x: 'mn_' + str(x), axis=1)
mpi_subnat = mpi_subnat_orig.rename(lambda x: 'ms_' + str(x), axis=1)

In [72]:
kiva_mpi_region_locations = kiva_mpi_region_locations[pd.notnull(kiva_mpi_region_locations['mr_MPI'])]
kiva_mpi_region_locations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 9 columns):
mr_LocationName    984 non-null object
mr_ISO             984 non-null object
mr_country         984 non-null object
mr_region          984 non-null object
mr_world_region    984 non-null object
mr_MPI             984 non-null float64
mr_geo             984 non-null object
mr_lat             892 non-null float64
mr_lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 76.9+ KB

In [73]:
mpi_subnat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
ms_ISO country code                     984 non-null object
ms_Country                              984 non-null object
ms_Sub-national region                  984 non-null object
ms_World region                         984 non-null object
ms_MPI National                         984 non-null float64
ms_MPI Regional                         984 non-null float64
ms_Headcount Ratio Regional             984 non-null float64
ms_Intensity of deprivation Regional    983 non-null float64
dtypes: float64(4), object(4)
memory usage: 61.6+ KB

In [74]:
subnat_info = kiva_mpi_region_locations.merge(mpi_subnat, how='outer', left_on=['mr_country', 'mr_region', 'mr_world_region'], right_on=['ms_Country', 'ms_Sub-national region', 'ms_World region'])

In [75]:
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 17 columns):
mr_LocationName                         984 non-null object
mr_ISO                                  984 non-null object
mr_country                              984 non-null object
mr_region                               984 non-null object
mr_world_region                         984 non-null object
mr_MPI                                  984 non-null float64
mr_geo                                  984 non-null object
mr_lat                                  892 non-null float64
mr_lon                                  892 non-null float64
ms_ISO country code                     984 non-null object
ms_Country                              984 non-null object
ms_Sub-national region                  984 non-null object
ms_World region                         984 non-null object
ms_MPI National                         984 non-null float64
ms_MPI Regional                         984 non-null float64
ms_Headcount Ratio Regional             984 non-null float64
ms_Intensity of deprivation Regional    983 non-null float64
dtypes: float64(7), object(10)
memory usage: 138.4+ KB

Did outer join in order to add any columns that were in one but not the other, so can remove/rename the country, region and world region features that are duplicated, because they have to match. If statements just prevents errors from repeated runs

In [76]:
rem = ['mr_country','mr_region','mr_world_region','ms_Country','ms_Sub-national region','ms_World region']
if set(rem).issubset(subnat_info.keys()):
    subnat_info['country'] = subnat_info['mr_country']
    subnat_info['region'] = subnat_info['mr_region']
    subnat_info['world_region'] = subnat_info['mr_world_region']
    subnat_info.drop(rem, axis=1, inplace=True)

In [77]:
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 14 columns):
mr_LocationName                         984 non-null object
mr_ISO                                  984 non-null object
mr_MPI                                  984 non-null float64
mr_geo                                  984 non-null object
mr_lat                                  892 non-null float64
mr_lon                                  892 non-null float64
ms_ISO country code                     984 non-null object
ms_MPI National                         984 non-null float64
ms_MPI Regional                         984 non-null float64
ms_Headcount Ratio Regional             984 non-null float64
ms_Intensity of deprivation Regional    983 non-null float64
country                                 984 non-null object
region                                  984 non-null object
world_region                            984 non-null object
dtypes: float64(7), object(7)
memory usage: 115.3+ KB

In [78]:
(subnat_info['mr_ISO'] != subnat_info['ms_ISO country code']).sum()

0

Features are identical, so remove one, rename the other

In [79]:
rem = ['ms_ISO country code', 'mr_ISO']
if set(rem).issubset(subnat_info.keys()):
    subnat_info['ISO'] = subnat_info['mr_ISO']
    subnat_info.drop(rem, axis=1, inplace=True)

In [80]:
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 13 columns):
mr_LocationName                         984 non-null object
mr_MPI                                  984 non-null float64
mr_geo                                  984 non-null object
mr_lat                                  892 non-null float64
mr_lon                                  892 non-null float64
ms_MPI National                         984 non-null float64
ms_MPI Regional                         984 non-null float64
ms_Headcount Ratio Regional             984 non-null float64
ms_Intensity of deprivation Regional    983 non-null float64
country                                 984 non-null object
region                                  984 non-null object
world_region                            984 non-null object
ISO                                     984 non-null object
dtypes: float64(7), object(6)
memory usage: 107.6+ KB

In [81]:
(subnat_info['mr_MPI'] != subnat_info['ms_MPI Regional']).sum()

0

Features identical, remove/rename them

In [82]:
rem = ['mr_MPI', 'ms_MPI Regional']
if set(rem).issubset(subnat_info.keys()):
    subnat_info['mpi_regional'] = subnat_info['mr_MPI']
    subnat_info.drop(rem, axis=1, inplace=True)

In [83]:
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 12 columns):
mr_LocationName                         984 non-null object
mr_geo                                  984 non-null object
mr_lat                                  892 non-null float64
mr_lon                                  892 non-null float64
ms_MPI National                         984 non-null float64
ms_Headcount Ratio Regional             984 non-null float64
ms_Intensity of deprivation Regional    983 non-null float64
country                                 984 non-null object
region                                  984 non-null object
world_region                            984 non-null object
ISO                                     984 non-null object
mpi_regional                            984 non-null float64
dtypes: float64(6), object(6)
memory usage: 99.9+ KB

Rest of the features are unique, so I will rename them to something a little better

In [85]:
import re
rn_lam = lambda colname: colname[3:].lower().replace(' ', '_') if re.match('m._.*', colname) is not None else colname
subnat_info.rename(rn_lam, axis=1, inplace=True)
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 12 columns):
locationname                         984 non-null object
geo                                  984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
mpi_national                         984 non-null float64
headcount_ratio_regional             984 non-null float64
intensity_of_deprivation_regional    983 non-null float64
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
ISO                                  984 non-null object
mpi_regional                         984 non-null float64
dtypes: float64(6), object(6)
memory usage: 99.9+ KB

In [87]:
mpi_nat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
mn_ISO                               102 non-null object
mn_Country                           102 non-null object
mn_MPI Urban                         102 non-null float64
mn_Headcount Ratio Urban             102 non-null float64
mn_Intensity of Deprivation Urban    102 non-null float64
mn_MPI Rural                         102 non-null float64
mn_Headcount Ratio Rural             102 non-null float64
mn_Intensity of Deprivation Rural    102 non-null float64
dtypes: float64(6), object(2)
memory usage: 6.5+ KB

In [88]:
subnat_info = subnat_info.merge(mpi_nat, how='left', left_on=['country', 'ISO'], right_on=['mn_Country', 'mn_ISO'])
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 20 columns):
locationname                         984 non-null object
geo                                  984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
mpi_national                         984 non-null float64
headcount_ratio_regional             984 non-null float64
intensity_of_deprivation_regional    983 non-null float64
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
ISO                                  984 non-null object
mpi_regional                         984 non-null float64
mn_ISO                               984 non-null object
mn_Country                           984 non-null object
mn_MPI Urban                         984 non-null float64
mn_Headcount Ratio Urban             984 non-null float64
mn_Intensity of Deprivation Urban    984 non-null float64
mn_MPI Rural                         984 non-null float64
mn_Headcount Ratio Rural             984 non-null float64
mn_Intensity of Deprivation Rural    984 non-null float64
dtypes: float64(12), object(8)
memory usage: 161.4+ KB

In [89]:
subnat_info.drop(['mn_ISO', 'mn_Country'], axis=1, inplace=True)

In [92]:
subnat_info[[key for key in subnat_info.keys() if 'mpi' in key.lower()]].head(5)

   mpi_national  mpi_regional  mn_MPI Urban  mn_MPI Rural
0         0.295         0.387         0.132         0.347
1         0.295         0.466         0.132         0.347
2         0.295         0.300         0.132         0.347
3         0.295         0.301         0.132         0.347
4         0.295         0.325         0.132         0.347

All mpi values look to be different, so I'll keep all of them

In [93]:
subnat_info[[key for key in subnat_info.keys() if 'head' in key.lower()]].head(5)

,headcount_ratio_regional,mn_Headcount Ratio Urban,mn_Headcount Ratio Rural
0,67.5,28.8,64.66
1,79.3,28.8,64.66
2,59.7,28.8,64.66
3,55.7,28.8,64.66
4,61.0,28.8,64.66

Headcount values all different, so I'll keep them all

In [94]:
subnat_info[[key for key in subnat_info.keys() if 'intens' in key.lower()]].head(5)

,intensity_of_deprivation_regional,mn_Intensity of Deprivation Urban,mn_Intensity of Deprivation Rural
0,57.3,45.8,53.6
1,58.8,45.8,53.6
2,50.3,45.8,53.6
3,54.1,45.8,53.6
4,53.3,45.8,53.6

Deprivation intensity also unique, so keep them all.

Rename new features so they have better names

In [95]:
import re
rn_lam = lambda colname: colname[3:].lower().replace(' ', '_') if re.match('mn_.*', colname) is not None else colname
subnat_info.rename(rn_lam, axis=1, inplace=True)
subnat_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 983
Data columns (total 18 columns):
locationname                         984 non-null object
geo                                  984 non-null object
lat                                  892 non-null float64
lon                                  892 non-null float64
mpi_national                         984 non-null float64
headcount_ratio_regional             984 non-null float64
intensity_of_deprivation_regional    983 non-null float64
country                              984 non-null object
region                               984 non-null object
world_region                         984 non-null object
ISO                                  984 non-null object
mpi_regional                         984 non-null float64
mpi_urban                            984 non-null float64
headcount_ratio_urban                984 non-null float64
intensity_of_deprivation_urban       984 non-null float64
mpi_rural                            984 non-null float64
headcount_ratio_rural                984 non-null float64
intensity_of_deprivation_rural       984 non-null float64
dtypes: float64(12), object(6)
memory usage: 146.1+ KB

This dataset looks good, I will now run through a small procedure of ensuring that if the `subnat_region` feature I added is not in this new dataset (meaning there is not a matching region and country), then I will change the subnat_region to just be the region, in case it produced a value that it can't use anyways.

In [118]:
subnat_not_in_mpi = kiva_subnat_loans[['country','subnat_region']].apply(tuple, axis=1).isin(subnat_info[['country', 'region']].apply(tuple, axis=1))
subnat_not_in_mpi.describe()

count     671205
unique         2
top        False
freq      594868
dtype: object

In [119]:
region_not_in_mpi = kiva_subnat_loans[['country','region']].apply(tuple, axis=1).isin(subnat_info[['country', 'region']].apply(tuple, axis=1))
region_not_in_mpi.describe()

count     671205
unique         2
top        False
freq      620250
dtype: object

In [121]:
kiva_subnat_loans[~subnat_not_in_mpi][['country','subnat_region']]

            country             subnat_region
2             India               West Bengal
5             Kenya                       NaN
6             India               West Bengal
14            India               West Bengal
18            India               West Bengal
25            India               West Bengal
26            India               West Bengal
28            India               West Bengal
29            India               West Bengal
33            India               West Bengal
45            India               West Bengal
46            Kenya                       Voi
47            India               West Bengal
49      El Salvador                       NaN
50         Tanzania             Dar es Salaam
51      Philippines       Zamboanga del Norte
52      Philippines           Negros Oriental
54          Senegal                       NaN
55      Philippines                   Palawan
56      Philippines           Negros Oriental
57            Kenya                   Mombasa
58            Kenya                   Mombasa
59         Tanzania             Dar es Salaam
60         Cambodia            Takeo province
61          Liberia                   New Kru
62          Vietnam                 Hai Duong
64         Cambodia  Kampong Chhnang Province
65      Philippines                   Isabela
66          Liberia                Logan Town
67            Kenya                       NaN
...             ...                       ...
671174        Kenya                       NaN
671175       Mexico                 Iztacalco
671176        Ghana                     Accra
671177        Kenya                       NaN
671178        Kenya                       NaN
671179     Paraguay                Concepción
671180      Bolivia                    La Paz
671182       Mexico                 Iztacalco
671183       Mexico                 Iztacalco
671184      Bolivia                    La Paz
671185        Kenya                       NaN
671186     Paraguay                Concepción
671187        Kenya                       NaN
671188        Ghana                     Accra
671189        Kenya                       NaN
671190        Kenya                       NaN
671191      Bolivia                    La Paz
671192      Bolivia                    La Paz
671193       Mexico                 Iztacalco
671194        Kenya                       NaN
671195        Ghana                     Accra
671196        Ghana                     Accra
671197        Kenya                       NaN
671198       Mexico                 Iztacalco
671199     Paraguay                Concepción
671200     Paraguay                Concepción
671201        Kenya                       NaN
671202        Kenya                       NaN
671203        Kenya                       NaN
671204        Kenya                       NaN

[594868 rows x 2 columns]

In [127]:
subnat_info[subnat_info['country'] == 'Paraguay'][['country', 'region']]

Empty DataFrame
Columns: [country, region]
Index: []

In [163]:
kiva_loans_mpi_nat = kiva_loans.merge(mpi_nat, how='left', left_on='country', right_on='mpi_nat-Country')
kiva_loans_mpi_nat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 67 columns):
id                                        671205 non-null int64
funded_amount                             671205 non-null float64
loan_amount                               671205 non-null float64
activity                                  671205 non-null object
sector                                    671205 non-null object
use                                       666973 non-null object
country_code                              671197 non-null object
country                                   671205 non-null object
region                                    614405 non-null object
currency                                  671205 non-null object
partner_id                                657698 non-null float64
posted_time                               671205 non-null datetime64[ns]
disbursed_time                            668809 non-null datetime64[ns]
funded_time                               622874 non-null datetime64[ns]
term_in_months                            671205 non-null float64
lender_count                              671205 non-null int64
tags                                      671205 non-null object
borrower_genders                          671205 non-null object
repayment_interval                        671205 non-null object
date                                      671205 non-null datetime64[ns]
time_till_funded                          622874 non-null timedelta64[ns]
hours_till_funded                         622874 non-null float64
tag_#Fabrics                              671205 non-null int64
tag_#Supporting Family                    671205 non-null int64
tag_#Inspiring Story                      671205 non-null int64
tag_#Single Parent                        671205 non-null int64
tag_#First Loan                           671205 non-null int64
tag_#Woman Owned Biz                      671205 non-null int64
tag_#Technology                           671205 non-null int64
tag_#Hidden Gem                           671205 non-null int64
tag_#Eco-friendly                         671205 non-null int64
tag_#Repeat Borrower                      671205 non-null int64
tag_#Single                               671205 non-null int64
tag_#Widowed                              671205 non-null int64
tag_#Low-profit FP                        671205 non-null int64
tag_#Repair Renew Replace                 671205 non-null int64
tag_#Elderly                              671205 non-null int64
tag_#Interesting Photo                    671205 non-null int64
tag_#Refugee                              671205 non-null int64
tag_#Tourism                              671205 non-null int64
tag_#Schooling                            671205 non-null int64
tag_#Female Education                     671205 non-null int64
tag_user_favorite                         671205 non-null int64
tag_#Biz Durable Asset                    671205 non-null int64
tag_#Parent                               671205 non-null int64
tag_#Sustainable Ag                       671205 non-null int64
tag_#Job Creator                          671205 non-null int64
tag_volunteer_like                        671205 non-null int64
tag_volunteer_pick                        671205 non-null int64
tag_#Unique                               671205 non-null int64
tag_#Animals                              671205 non-null int64
tag_#Orphan                               671205 non-null int64
tag_user_like                             671205 non-null int64
tag_#Vegan                                671205 non-null int64
tag_#Trees                                671205 non-null int64
tag_#Health and Sanitation                671205 non-null int64
tag_#Post-disbursed                       671205 non-null int64
num_male_borrowers                        671205 non-null int64
num_female_borrowers                      671205 non-null int64
mpi_nat-ISO                               590440 non-null object
mpi_nat-Country                           590440 non-null object
mpi_nat-MPI Urban                         590440 non-null float64
mpi_nat-Headcount Ratio Urban             590440 non-null float64
mpi_nat-Intensity of Deprivation Urban    590440 non-null float64
mpi_nat-MPI Rural                         590440 non-null float64
mpi_nat-Headcount Ratio Rural             590440 non-null float64
mpi_nat-Intensity of Deprivation Rural    590440 non-null float64
dtypes: datetime64[ns](4), float64(11), int64(39), object(12), timedelta64[ns](1)
memory usage: 348.2+ MB

In [166]:
mpi_subnat = mpi_subnat_orig.rename(lambda x: 'mpi_sub-' + str(x), axis=1)
mpi_subnat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 8 columns):
mpi_sub-ISO country code                     984 non-null object
mpi_sub-Country                              984 non-null object
mpi_sub-Sub-national region                  984 non-null object
mpi_sub-World region                         984 non-null object
mpi_sub-MPI National                         984 non-null float64
mpi_sub-MPI Regional                         984 non-null float64
mpi_sub-Headcount Ratio Regional             984 non-null float64
mpi_sub-Intensity of deprivation Regional    983 non-null float64
dtypes: float64(4), object(4)
memory usage: 61.6+ KB

In [175]:
kiva_loans_mpi = kiva_loans_mpi_nat.merge(mpi_subnat, how='left', left_on=['region','country'], right_on=['mpi_sub-Sub-national region', 'mpi_sub-Country'])
kiva_loans_mpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 75 columns):
id                                           671205 non-null int64
funded_amount                                671205 non-null float64
loan_amount                                  671205 non-null float64
activity                                     671205 non-null object
sector                                       671205 non-null object
use                                          666973 non-null object
country_code                                 671197 non-null object
country                                      671205 non-null object
region                                       614405 non-null object
currency                                     671205 non-null object
partner_id                                   657698 non-null float64
posted_time                                  671205 non-null datetime64[ns]
disbursed_time                               668809 non-null datetime64[ns]
funded_time                                  622874 non-null datetime64[ns]
term_in_months                               671205 non-null float64
lender_count                                 671205 non-null int64
tags                                         671205 non-null object
borrower_genders                             671205 non-null object
repayment_interval                           671205 non-null object
date                                         671205 non-null datetime64[ns]
time_till_funded                             622874 non-null timedelta64[ns]
hours_till_funded                            622874 non-null float64
tag_#Fabrics                                 671205 non-null int64
tag_#Supporting Family                       671205 non-null int64
tag_#Inspiring Story                         671205 non-null int64
tag_#Single Parent                           671205 non-null int64
tag_#First Loan                              671205 non-null int64
tag_#Woman Owned Biz                         671205 non-null int64
tag_#Technology                              671205 non-null int64
tag_#Hidden Gem                              671205 non-null int64
tag_#Eco-friendly                            671205 non-null int64
tag_#Repeat Borrower                         671205 non-null int64
tag_#Single                                  671205 non-null int64
tag_#Widowed                                 671205 non-null int64
tag_#Low-profit FP                           671205 non-null int64
tag_#Repair Renew Replace                    671205 non-null int64
tag_#Elderly                                 671205 non-null int64
tag_#Interesting Photo                       671205 non-null int64
tag_#Refugee                                 671205 non-null int64
tag_#Tourism                                 671205 non-null int64
tag_#Schooling                               671205 non-null int64
tag_#Female Education                        671205 non-null int64
tag_user_favorite                            671205 non-null int64
tag_#Biz Durable Asset                       671205 non-null int64
tag_#Parent                                  671205 non-null int64
tag_#Sustainable Ag                          671205 non-null int64
tag_#Job Creator                             671205 non-null int64
tag_volunteer_like                           671205 non-null int64
tag_volunteer_pick                           671205 non-null int64
tag_#Unique                                  671205 non-null int64
tag_#Animals                                 671205 non-null int64
tag_#Orphan                                  671205 non-null int64
tag_user_like                                671205 non-null int64
tag_#Vegan                                   671205 non-null int64
tag_#Trees                                   671205 non-null int64
tag_#Health and Sanitation                   671205 non-null int64
tag_#Post-disbursed                          671205 non-null int64
num_male_borrowers                           671205 non-null int64
num_female_borrowers                         671205 non-null int64
mpi_nat-ISO                                  590440 non-null object
mpi_nat-Country                              590440 non-null object
mpi_nat-MPI Urban                            590440 non-null float64
mpi_nat-Headcount Ratio Urban                590440 non-null float64
mpi_nat-Intensity of Deprivation Urban       590440 non-null float64
mpi_nat-MPI Rural                            590440 non-null float64
mpi_nat-Headcount Ratio Rural                590440 non-null float64
mpi_nat-Intensity of Deprivation Rural       590440 non-null float64
mpi_sub-ISO country code                     50955 non-null object
mpi_sub-Country                              50955 non-null object
mpi_sub-Sub-national region                  50955 non-null object
mpi_sub-World region                         50955 non-null object
mpi_sub-MPI National                         50955 non-null float64
mpi_sub-MPI Regional                         50955 non-null float64
mpi_sub-Headcount Ratio Regional             50955 non-null float64
mpi_sub-Intensity of deprivation Regional    50952 non-null float64
dtypes: datetime64[ns](4), float64(15), int64(39), object(16), timedelta64[ns](1)
memory usage: 389.2+ MB

In [359]:
unique_reg_con_pairs = kiva_loans_mpi[['region', 'country']].drop_duplicates()

In [364]:
unique_reg_con_pairs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12821 entries, 0 to 670844
Data columns (total 2 columns):
region     12749 non-null object
country    12821 non-null object
dtypes: object(2)
memory usage: 300.5+ KB

The reason I got the list above is that I can use it to create a dataset that would allow me to map a region and country to a more appropriate subnational region that is more likely to have an associated MPI

```python
from functools import lru_cache
import re

api_key = 'AIzaSyBoSQjjGx7kN4XfhLieSBsJIOoAYfO2wBo'
autocomp_addr = 'https://maps.googleapis.com/maps/api/place/autocomplete/json?key=' + api_key + '&input='
search_addr = 'https://maps.googleapis.com/maps/api/place/textsearch/json?key=' + api_key + '&query='

s = reqs.Session()

#Caching not needed since each entry is unique
#@lru_cache(maxsize=None)
def get_subregion(region, country, verbose=False):
    search = str(region) + ' ' + str(country)
    if verbose:
        print(search)
    if not (isinstance(region, str) and isinstance(country, str)):
        return region
    search = search.replace(' ', '+')
    resp = s.get(search_addr + search).json()
    if (resp['status'] != 'OK'):
        if verbose:
            print('\t', resp)
        suggest_resp = s.get(autocomp_addr + search).json()
        if (suggest_resp['status'] != 'OK'):
            if verbose:
                print('\tFAILED TO FIND', search)
                print('\t', suggest_resp)
            return region
        pred = suggest_resp['predictions'][0]['description']
        search = pred.replace(',', '').replace(' ', '+')
        if verbose:
            print('\tDid you mean "', search, '"?')
        resp = s.get(search_addr + search).json()
        if (resp['status'] != 'OK'):
            if verbose:
                print('\tFAILED TO FIND', search)
                print('\t', resp)
            return region
    res0 = resp['results'][0]
    if 'formatted_address' not in res0:
        return region
    addr = res0['formatted_address'].split(', ')
    if len(addr) > 1:
        ret = addr[-2]
        return re.sub('\d+$', '', ret).strip()
    return region

unique_reg_con_pairs['subnat_region'] = unique_reg_con_pairs.apply(tuple, axis=1).apply(lambda x: get_subregion(*x))
unique_reg_con_pairs.to_csv('subnat_regions.csv')
```

In [308]:
from functools import lru_cache
import requests as reqs

api_key = 'AIzaSyBse-g-j8WU99QqOnAtE1j4REMzrX9bwKw'

@lru_cache(maxsize=None)
def get_subregion(region, country):
    try:
        search = '+'.join(region.split(' ') + country.split(' '))
    except:
        print(type(region), region, sep=": ")
        print(str(region) == 'nan')
        print(type(country), country, sep=": ")
        return region
    print(search)
    resp = reqs.get('https://www.google.com/maps/search/' + search + '/')
    print(resp)
    cache_resp = ''
    for i in resp.iter_lines():
        i = i.decode('ascii', errors='backslashreplace').strip()
        if i.startswith('cacheResponse'):
            cache_resp = i[14:-2]
            break
    m = re.search('(?<=")[\w\s]*(, )?(?P<subregion>[\w]+), ' + country + '(?=")', cache_resp)
    return m.group(m.lastgroup)


    
#kiva_loans_mpi[['region', 'country']].apply(tuple, axis=1).apply(lambda x: get_subregion(*x))

'Sindh'

In [269]:
cache_resp = None
for i in resp.iter_lines():
    i = i.decode('ascii', errors='backslashreplace').strip()
    if i.startswith('cacheResponse'):
        cache_resp = i[14:-2]
        break
print(cache_resp)

[[[52525.68908656373,70.65149819999999,30.04420025],[0,0,0],[1024,730],13.10000038146973],"/maps-lite/js/2/ml_20180417_0",107,"!1b0!2b1!3s!4b1!5b0!6b1!7s!8b1!9i0!10b1!11b1!13b0!14b0!15b0!16b0!17b1!18b1!19b0!20b0!21b0!22s1!23zMSwxNywxOCwy!24s!25s!26b0!27b0!28b0!29i2000!30b1!32b0!34i0!36b0!37sNONE!38b0!39b1!40b0!41i0!42s!43b0!44i0!45i3600!46i0!47i10!48b1!49b0!50b0!52i0!53i2000000000!54b0!58i0!60i0!61i0!62b0!63b1",null,["en","us"],["/maps/lite/ApplicationService.GetEntityDetails","/maps/lite/ApplicationService.UpdateStarring","/maps/lite/ApplicationService.Search",null,"/maps/lite/suggest","/maps/lite/directions","/maps/lite/MapsLiteService.GetHotelAvailability","/maps/lite/MapsLiteService.GetSharedLocations","https://www.google.com/maps/api/js/reviews?key=AIzaSyCNWEtGyeVduDK_k5UOq8iBk-qP8G4TJL0\u0026language=en","/maps/lite/reviews","/maps/timeline/_rpc/mas","/maps/timeline/_rpc/pc","//maps.gstatic.com","//www.gstatic.com","/maps/preview/placeactions/writeaction"],[[[2,"spotlight",null,null,null,null,null,[[null,null,null,null,null,null,null,null,null,null,null,[null,null,null,null,null,null,null,null,null,0,null,"placeholder",null,null,null,null,null,null,[0,"5,6,24,45,75,93",["0x0:0x1c9ef8b4f921afbb"]],1]],["0x393ab1e92cff6575:0x1c9ef8b4f921afbb","Dera Ghazi Khan, Punjab, Pakistan",null,[null,null,30.0489423,70.645473],1,1],null,null,null,null,null,null,null,null,10,null,[null,"a",null,null,null,null,null,null,null,null,null,null,null,1,null,null,null,[null,null,null,null,0,0,null,0,1],null,null,null,[null,null,null,null,null,2,3,2]],1,null,null,null,null,[14,29]]]],[[52]]],[["0x393ab1e92cff6575:0x1c9ef8b4f921afbb","Dera Ghazi Khan, Punjab, Pakistan",[30.0489423,70.645473]],"Dera Ghazi Khan",["Punjab","Pakistan"],null,null,null,null,null,null,null,null,null,null,"Dera Ghazi Khan, Punjab, Pakistan",null,null,[[[null,[3,"-NP-uA_fC__w/Wow5HRROZVI/AAAAAAAAYbc/hmDBkP-gl-MFA6R6qHHkU1INeT-sOTFwwCLIBGAYYCw"],[3,3,[1600,1200]],null,[null,[[["A Tabi"],"//maps.google.com/maps/contrib/103633467204177734000/photos","//lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s100-p-k-no-mo/p.jpg",null,null,"103633467204177734000"]],null,[[null,"//picasaweb.google.com/","//maps.gstatic.com/tactile/fineprint/picasa_logo-1x.png"]],[[null,"https://picasaweb.google.com/lh/sredir?uname=103633467204177734000\u0026id=6524652757210522962\u0026target=PHOTO"]]],[[[2],[[null,null,30.05304896449588,70.63709299747023]]]],[2,null,null,[2],2,[null,null,"photos:gmm_android",[6,7,4,1,3]]]],[[3,70.63709299747023,30.05304896449588],[0,90],[1200,1600],75],["//lh6.googleusercontent.com/-NP-uA_fC__w/Wow5HRROZVI/AAAAAAAAYbc/hmDBkP-gl-MFA6R6qHHkU1INeT-sOTFwwCLIBGAYYCw/w376-h501-k-no/","Photos",[1200,1600],[376,111]],12,"0ahUKEwjhrbqlqs_aAhVMrVkKHSRwDWkQzCcICCgAMAA"]],null,null,[null,null,null,null,null,null,null,1],null,null,null,1,1,null,null,"ChIJdWX_LOmxOjkRu68h-bT4nhw",null,null,"0ahUKEwjhrbqlqs_aAhVMrVkKHSRwDWkQ8BcIAygAMAA","\xda\x88\xdb\x8c\xd8\xb1\xdb\x81 \xd8\xba\xd8\xa7\xd8\xb2\xdb\x8c \xd8\xae\xd8\xa7\xd9\x86",[[[null,[3,"-J7nFuiABEvM/WHcF3D84WgI/AAAAAAAAASw/0XfEU96IOigOsWaFmW5eOtGJ_JffCBrXQCLIB"],[3,3,[1280,960]],null,[null,[[["Saleem Zaman"],"//maps.google.com/maps/contrib/101248067599005999052/photos","//lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/s100-p-k-no-mo/p.jpg",null,null,"101248067599005999052"]],null,[[null,"//picasaweb.google.com/","//maps.gstatic.com/tactile/fineprint/picasa_logo-1x.png"]],[[null,"https://picasaweb.google.com/lh/sredir?uname=101248067599005999052\u0026id=6374570241077828098\u0026target=PHOTO"]]],[[[2],[[null,null,30.05304896449588,70.63709299747023]]]],[2,null,null,[2],2,[null,null,"photos:gmm_android",[6,7,4,1,3]]]],[[3,70.63709299747023,30.05304896449588],[0,90],[960,1280],75],["//lh3.googleusercontent.com/-J7nFuiABEvM/WHcF3D84WgI/AAAAAAAAASw/0XfEU96IOigOsWaFmW5eOtGJ_JffCBrXQCLIB/w408-h544-k-no/","D G Khan",[960,1280],[408,256]],12,"0ahUKEwjhrbqlqs_aAhVMrVkKHSRwDWkQzCcICygEMAA"]]],null,null,null,null,null,null,null,"/maps/api/js?client=google-maps-lite\u0026paint_origin=\u0026libraries=common,geometry,map,search\u0026v=3.32.10\u0026language=en\u0026region=us\u0026use_slippy=true\u0026callback=v3loaded","/maps-lite/js/2/ml_20180417_0/main.js",0,"python-requests/2.18.4,gzip(gfe)",null,null,0,0,null,"https://www.google.com/maps/search/Dg+Khan+Pakistan/?dg=dbrw\u0026newdg=1",0,null,0,null,null,"SELdWsmhO4Gz-AGE4KSwDA",null,null,["dbrw",1],null,null,null,1,0,null,null,null,null,null,null,"SULdWqFlzNrmAqTgtcgG",null,null,null,null,"//consent.google.com","2.ml_20180417_0",null,null,1,null,null,null,[null,null,1,null,null,"United States"],[null,["Dg Khan Pakistan"]],null,null,[0,-80.7376927,35.31426,null,13022.66679484173,null,13.10000038146973],null,null,null,null,null,"United States"]

In [281]:
import re

country = 'Pakistan'
m = re.search('(?<=")[\w\s]*(, )?(?P<subregion>[\w]+), ' + country + '(?=")', cache_resp)

In [285]:
m.group(m.lastgroup)

AttributeError: '_sre.SRE_Match' object has no attribute 'match'

- mpi_LocationName: Not very useful with country and region features
- mpi_ISO: Similar to country_code, not very useful
- mpi_country: Same as country on `kiva_loans`
- mpi_region: Same as region on `kiva_loans`
- mpi_world_region: more broad than country, 6 values, could be useful in identifying global trends
- mpi_MPI: very useful for welfare, provides metric to the region for general poverty
- mpi_geo: basically useless with lat and lon features
- mpi_lat: might be useful to find linear trends with lat & lon, but not a very good metric for region based things
- mpi_lon: same as lat

In [144]:
kiva_mpi = kiva_mpi[pd.notnull(kiva_mpi['mpi_MPI'])]

In [147]:
kiva_mpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1007
Data columns (total 9 columns):
mpi_LocationName    984 non-null object
mpi_ISO             984 non-null object
mpi_country         984 non-null object
mpi_region          984 non-null object
mpi_world_region    984 non-null object
mpi_MPI             984 non-null float64
mpi_geo             984 non-null object
mpi_lat             892 non-null float64
mpi_lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 76.9+ KB

In [153]:
kiva_loans_mpi = kiva_loans.merge(kiva_mpi, how='left', left_on=['region', 'country'], right_on=['mpi_region', 'mpi_country'])

In [154]:
kiva_loans_mpi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 671205 entries, 0 to 671204
Data columns (total 68 columns):
id                            671205 non-null int64
funded_amount                 671205 non-null float64
loan_amount                   671205 non-null float64
activity                      671205 non-null object
sector                        671205 non-null object
use                           666973 non-null object
country_code                  671197 non-null object
country                       671205 non-null object
region                        614405 non-null object
currency                      671205 non-null object
partner_id                    657698 non-null float64
posted_time                   671205 non-null datetime64[ns]
disbursed_time                668809 non-null datetime64[ns]
funded_time                   622874 non-null datetime64[ns]
term_in_months                671205 non-null float64
lender_count                  671205 non-null int64
tags                          671205 non-null object
borrower_genders              671205 non-null object
repayment_interval            671205 non-null object
date                          671205 non-null datetime64[ns]
time_till_funded              622874 non-null timedelta64[ns]
hours_till_funded             622874 non-null float64
tag_#Fabrics                  671205 non-null int64
tag_#Supporting Family        671205 non-null int64
tag_#Inspiring Story          671205 non-null int64
tag_#Single Parent            671205 non-null int64
tag_#First Loan               671205 non-null int64
tag_#Woman Owned Biz          671205 non-null int64
tag_#Technology               671205 non-null int64
tag_#Hidden Gem               671205 non-null int64
tag_#Eco-friendly             671205 non-null int64
tag_#Repeat Borrower          671205 non-null int64
tag_#Single                   671205 non-null int64
tag_#Widowed                  671205 non-null int64
tag_#Low-profit FP            671205 non-null int64
tag_#Repair Renew Replace     671205 non-null int64
tag_#Elderly                  671205 non-null int64
tag_#Interesting Photo        671205 non-null int64
tag_#Refugee                  671205 non-null int64
tag_#Tourism                  671205 non-null int64
tag_#Schooling                671205 non-null int64
tag_#Female Education         671205 non-null int64
tag_user_favorite             671205 non-null int64
tag_#Biz Durable Asset        671205 non-null int64
tag_#Parent                   671205 non-null int64
tag_#Sustainable Ag           671205 non-null int64
tag_#Job Creator              671205 non-null int64
tag_volunteer_like            671205 non-null int64
tag_volunteer_pick            671205 non-null int64
tag_#Unique                   671205 non-null int64
tag_#Animals                  671205 non-null int64
tag_#Orphan                   671205 non-null int64
tag_user_like                 671205 non-null int64
tag_#Vegan                    671205 non-null int64
tag_#Trees                    671205 non-null int64
tag_#Health and Sanitation    671205 non-null int64
tag_#Post-disbursed           671205 non-null int64
num_male_borrowers            671205 non-null int64
num_female_borrowers          671205 non-null int64
mpi_LocationName              50955 non-null object
mpi_ISO                       50955 non-null object
mpi_country                   50955 non-null object
mpi_region                    50955 non-null object
mpi_world_region              50955 non-null object
mpi_MPI                       50955 non-null float64
mpi_geo                       50955 non-null object
mpi_lat                       50953 non-null float64
mpi_lon                       50953 non-null float64
dtypes: datetime64[ns](4), float64(8), int64(39), object(16), timedelta64[ns](1)
memory usage: 353.3+ MB

In [114]:
kiva_data['kiva_loans']['region'].unique()

array(['Lahore', 'Maynaguri', 'Abdul Hakeem', ..., 'Gbenikoro Village',
       'Morimaraia', 'alejandria'], dtype=object)

In [126]:
import numpy as np
vec_lower = np.vectorize(str.lower)
kiva_data['kiva_mpi_region_locations']['country' and 'region'].unique()

array(['Badakhshan', 'Badghis', 'Baghlan', 'Balkh', 'Bamyan', 'Daykundi',
       'Farah', 'Faryab', 'Ghazni', 'Ghor', 'Helmand', 'Herat', 'Jawzjan',
       'Kabul', 'Kandahar', 'Kapisa', 'Khost', 'Kunarha', 'Kunduz',
       'Laghman', 'Logar', 'Nangarhar', 'Nimroz', 'Nooristan', 'Paktika',
       'Paktya', 'Panjsher', 'Parwan', 'Samangan', 'Sar-E-Pul', 'Takhar',
       'Urozgan', 'Wardak', 'Zabul', nan, 'Bujumbura Mairie', 'Nord',
       'Centre-Est', 'Ouest', 'Sud', 'Alibori', 'Atacora', 'Atlantique',
       'Borgou', 'Collines', 'Couffo', 'Donga', 'Littoral', 'Mono',
       'Ouðmð', 'Plateau', 'Zou', 'Boucle de mouhoun', 'Cascades',
       'Centre', 'Centre-est', 'Centre-nord', 'Centre-ouest',
       'Centre-sud', 'Est', 'Hauts basins', 'Plateau central', 'Sahel',
       'Sud-ouest', 'Barisal', 'Chittagong', 'Dhaka', 'Khulna',
       'Rajshahi', 'Rangpur', 'Sylhet', 'Corozal', 'Orange Walk',
       'Belize (excluding Belize City South Side)', 'Stann Creek',
       'Toledo', 'Cayo', 'Belize City South Side', 'Chuquisaca', 'La Paz',
       'Cochabamba', 'Oruro', 'Potosð', 'Tarija', 'Santa Cruz', 'Beni',
       'Pando', 'Acre', 'Alagoas', 'Amapð', 'Amazonas', 'Bahia', 'Cearð',
       'Distrito Federal', 'Espðrito Santo', 'Goiðs', 'Maranhðo',
       'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Paranð',
       'Paraðba', 'Parð', 'Pernambuco', 'Piauð', 'Rio Grande do Norte',
       'Rio Grande do Sul', 'Rio de Janeiro', 'Rondðnia', 'Roraima',
       'Santa Catarina', 'Sergipe', 'Sðo Paulo', 'Tocantins', 'Bumthang',
       'Chukha', 'Dagana', 'Haa', 'Lhuntse', 'Mongar', 'Paro',
       'Pemagatshel', 'Punakha', 'Samdrup Jongkhar', 'Samtse', 'Sarpang',
       'Thimphu', 'Trashigang', 'Trashiyangtse', 'Trongsa', 'Tsirang',
       'Wangdi', 'Zhemgang', "Ombella-M'poko", 'Lobaye', 'Mambðrð-Kadði',
       'Nana-Mambðrð', 'Sangha-Mbaðrð', 'Ouham-Pendð', 'Ouham', 'Kðmo',
       'Nana-Grðbizi', 'Ouaka', 'Haute-Kotto', 'Bamingui-Bangoran',
       'Basse-Kotto', 'Mbomou', 'Haut-Mbomou', 'Bangui', 'East',
       'Central', 'West', 'Centre-Nord', 'Centre-Ouest', 'Nord-Est',
       'Nord-Ouest', 'Sud sans Abidjan', "Ville d'Abidjan", 'Adamaoua',
       'Centre (sans Yaoundð)', 'Douala', 'Extrðme-Nord',
       'Littoral (sans Douala)', 'Sud-Ouest', 'Yaoundð', 'Kinshasa',
       'Bandundu', 'Bas-Congo', 'ðquateur', 'Kasað-Occidental',
       'Kasað-Oriental', 'Katanga', 'Maniema', 'Nord-Kivu', 'Orientale',
       'Sud-Kivu', 'Kouilou', 'Niari', 'Lðkoumou', 'Bouenza', 'Pool',
       'Plateaux', 'Cuvette', 'Cuvette-Ouest', 'Sangha', 'Likouala',
       'Brazzaville', 'Pointe-Noire', 'Guajira, Cesar, Magdalena',
       'Barranquilla A. M.', 'Atlantico, San Andres, Bolivar Norte',
       'Bolivar Sur, Sucre, Cordoba', 'Santanderes',
       'Boyaca, Cmarca, Meta', 'Medellin A.M.', 'Antioquia Sin Medellin',
       'Caldas, Risaralda, Quindio', 'Tolima, Huila, Caqueta',
       'Cali A.M.', 'Valle Sin Cali Ni Litoral',
       'Cauca Y Nariðo Sin Litoral', 'Litoral Pacifico', 'Bogota',
       'Orinoquia Y Amazonia', 'Mwali (Mohðli)',
       'Ndzuwani (Ndzouani or Anjouan)', 'Ngazidja (Grande Comore)',
       'Djibouti', 'Other Districts', 'Cibao Nordeste', 'Cibao Noroeste',
       'Cibao Norte', 'Cibao Sur', 'Del Yuma', 'El Valle', 'Enriquillo',
       'Higuamo', 'Metropolitana', 'Valdesia', 'Mountains', 'Coast',
       'Amazon', 'Galapagos Island', 'Cairo', 'Alexandria', 'Port Said',
       'Suez', 'Damietta', 'Dakahlia', 'Sharkia', 'Kalyubia',
       'Kafr El-Sheikh', 'Gharbia', 'Menoufia', 'Behera', 'Ismailia',
       'Giza', 'Beni Suef', 'Fayoum', 'Menya', 'Assuit', 'Souhag', 'Qena',
       'Aswan', 'Luxor', 'Red Sea', 'New Valley', 'Matroh', 'Tigray',
       'Affar', 'Amhara', 'Oromiya', 'Somali', 'Benishangul-Gumuz',
       "Southern Nations, Nationalities, and People's Region", 'Gambela',
       'Harari', 'Addis Ababa', 'Dire Dawa', 'Libreville/Port-Gentil',
       'Estuaire (sans Libreville)', 'Haut-Ogoouð', 'Moyen-Ogoouð',
       'Ngounið', 'Nyanga', 'Ogoouð Maritime (sans Port-Gentil)',
       'Ogoouð-Ivindo', 'Ogoouð-Lolo', 'Woleu-Nðtem', 'Ashanti',
       'Brong Ahafo', 'Eastern', 'Greater Accra', 'Northern',
       'Upper East', 'Upper West', 'Volta', 'Western', 'Bokð', 'Conakry',
       'Faranah', 'Kankan', 'Kindia', 'Labð', 'Mamou', "N'Zðrðkorð",
       'Banjul', 'Kanifing', 'Brikama', 'Mansakonko', 'Kerewan',
       'Kuntaur', 'Janjanbureh', 'Basse', 'Bafata', 'Biombo', 'Bolama',
       'Cacheu', 'Gabu', 'Oio', 'Quinara', 'Tombali', 'Sab',
       'Alta Verapaz', 'Baja Verapaz', 'Chimaltenango', 'Chiquimula',
       'El Progreso', 'Escuintla', 'Guatemala Municipio',
       'Guatemala Resto', 'Huehuetenango', 'Izabal', 'Jalapa', 'Jutiapa',
       'Peten', 'Quetzaltenango', 'Quiche', 'Retalhuleu', 'Sacatepequez',
       'San Marcos', 'Santa Rosa', 'Solola', 'Suchitepequez',
       'Totonicapan', 'Zacapa', 'Barima-Waini',
       'Cuyuni-Mazaruni and Potaro-Siparuni', 'Demerara-Mahaica',
       'East Berbice-Corentyne', 'Essequibo Islands-West Demerara',
       'Mahaica-Berbice', 'Pomeroon-Supenaam', 'Upper Demerara-Berbice',
       'Upper Takutu-Upper Essequibo', 'Atlðntida', 'Colðn', 'Comayagua',
       'Copðn', 'Cortðs', 'Choluteca', 'El Paraðso', 'Francisco Morazðn',
       'Gracias a Dios', 'Intibucð', 'Islas de la Bahða', 'Lempira',
       'Ocotepeque', 'Olancho', 'Santa Bðrbara', 'Valle', 'Yoro',
       'Aire Mðtropolitaine/Reste-Ouest', 'Sud-Est', 'Artibonite',
       'Grande-Anse', 'Nippes', 'Aceh', 'North Sumatera', 'West Sumatera',
       'Riau', 'Jambi', 'South Sumatera', 'Bengkulu', 'Lampung',
       'Bangka Belitung', 'Riau Islands', 'DKI Jakarta', 'West Java',
       'Central Java', 'DI Yogyakarta', 'East Java', 'Banten', 'Bali',
       'West Nusa Tenggara', 'East Nusa Tenggara', 'West Kalimantan',
       'Central Kalimantan', 'South Kalimantan', 'East Kalimantan',
       'North Sulawesi', 'Central Sulawesi', 'South Sulawesi',
       'Southeast Sulawesi', 'Gorontalo', 'West Sulawesi', 'Maluku',
       'North Maluku', 'West Papua', 'Papua', 'Dohuk', 'Ninewa',
       'Suleimaniya', 'Kirkuk', 'Erbil', 'Diyala', 'Al-Anbar', 'Baghdad',
       'Babil', 'Karbala', 'Wasit', 'Salahaddin', 'Al-Najaf',
       'Al-Qadisiya', 'Al-Muthanna', 'Thi-Qar', 'Missan', 'Basrah',
       'Kingston', 'St.  Andrew', 'St. Thomas', 'Portland', 'St. Mary',
       'St. Ann', 'Trelawny', 'St. James', 'Hanover', 'Westmoreland',
       'St. Elizabeth', 'Manchester', 'Clarendon', 'St. Catherine',
       'North', 'South', 'Nairobi', 'North Eastern', 'Nyanza',
       'Rift Valley', 'Banteay Mean Chey', 'Battambang & Pailin',
       'Kampong Cham', 'Kampong Chhnang', 'Kampong Speu', 'Kampong Thom',
       'Kampot & Kep', 'Kandal', 'Kratie', 'Mondol Kiri & Rattanak Kiri',
       'Otdar Mean Chey', 'Phnom Penh', 'Preah Sihanouk & Kaoh Kong',
       'Preah Vihear & Steung Treng', 'Prey Veng', 'Pursat', 'Siem Reap',
       'Svay Rieng', 'Takeo', 'Vientiane Capital', 'Phongsaly',
       'Luangnamtha', 'Oudomxay', 'Bokeo', 'Luangprabang', 'Huaphanh',
       'Xayabury', 'Xiengkhuang', 'Vientiane', 'Borikhamxay', 'Khammuane',
       'Savannakhet', 'Saravane', 'Sekong', 'Champasack', 'Attapeu',
       'Bomi', 'Bong', 'Gbarpolu', 'Grand Bassa', 'Grand Cape Mount',
       'Grand Gedeh', 'Grand Kru', 'Lofa', 'Margibi', 'Maryland',
       'Montserrado', 'Nimba', 'River Cess', 'River Gee', 'Sinoe',
       'Berea', 'Botha-Bothe', 'Leribe', 'Mafeteng', 'Maseru',
       "Mohale'S Hoek", 'Mokhotlong', "Qacha'S-Nek", 'Quthing',
       'Thaba Tseka', 'Sahara', 'Souss-Massa-Draa',
       'El Gharb-Chrarda Bni Hssen', 'Chaouia Ourdigha',
       'Marrakech-Tensift-El Haouz', 'Rðgion Oriental',
       'Grand Casablanca', 'Rabat-Salð-Zemmour-Zair', 'Doukkala-Abda',
       'Tadla-Azilal', 'Meknes-Tafilalet', 'Fes-Boulemane',
       'Taza-Al Hoceima-Taounate', 'Tanger-Tetouan', 'Analamanga',
       'Vakinankaratra', 'Itasy', 'Bongolava', 'Haute Matsiatra',
       "Anamoroni'i Mania", 'Vatovavy Fitovinany', 'Ihorombe',
       'Atsimo Atsinanana', 'Atsinanana', 'Analanjirofo',
       'Alaotra Mangoro', 'Boeny', 'Sofia', 'Betsiboka', 'Melaky',
       'Atsimo Andrefana', 'Androy', 'Anosy', 'Menabe', 'Diana', 'Sava',
       'Kayes', 'Koulikoro', 'Sikasso', 'Sðgou', 'Mopti', 'Bamako',
       'Ayeyarwaddy', 'Bago', 'Chin', 'Kachin', 'Kayah', 'Kayin',
       'Magway', 'Mandalay', 'Mon', 'Naypyitaw', 'Rakhine', 'Sagaing',
       'Shan', 'Taninthayi', 'Yangon', 'Khangai', 'Ulaanbaatar', 'Niassa',
       'Cabo Delgado', 'Nampula', 'Zambðzia', 'Tete', 'Manica', 'Sofala',
       'Inhambane', 'Gaza', 'Maputo Provðncia', 'Maputo Cidade',
       'Hodh Charghy', 'Hodh Gharby', 'Assaba', 'Gorgol', 'Brakna',
       'Trarza', 'Adrar', 'Dakhlett Nouadibou', 'Tagant', 'Guidimagha',
       'Tirs-Ezemour', 'Nouakchott', 'Balaka', 'Blantyre City',
       'Blantyre Rural', 'Chikwawa', 'Chitipa', 'Chradzulu', 'Dedza',
       'Dowa', 'Karonga', 'Kasungu', 'Likoma', 'Lilongwe City',
       'Lilongwe Rural', 'Machinga', 'Mangochi', 'Mchinji', 'Mulange',
       'Mwanza', 'Mzimba', 'Mzuzu City', 'Ndanje', 'Neno', 'Nkhatabay',
       'Nkhota Kota', 'Ntcheu', 'Ntchisi', 'Phalombe', 'Rumphi', 'Salima',
       'Thyolo', 'Zomba City', 'Zomba Rural', 'Caprivi', 'Erongo',
       'Hardap', 'Karas', 'Kavango', 'Khomas', 'Kunene', 'Ohangwena',
       'Omaheke', 'Omusati', 'Oshana', 'Oshikoto', 'Otjozondjupa',
       'Agadez', 'Diffa', 'Dosso', 'Maradi', 'Tahoua', 'Tillaberi',
       'Zinder', 'Niamey', 'Sokoto', 'Zamfara', 'Katsina', 'Jigawa',
       'Yobe', 'Borno', 'Adamawa', 'Gombe', 'Bauchi', 'Kano', 'Kaduna',
       'Kebbi', 'Niger', 'FCT-Abuja', 'Nasarawa', 'Taraba', 'Benue',
       'Kogi', 'Kwara', 'Oyo', 'Osun', 'Ekiti', 'Ondo', 'Edo', 'Anambra',
       'Enugu', 'Ebonyi', 'Cross River', 'Akwa Ibom', 'Abia', 'Imo',
       'Rivers', 'Bayelsa', 'Delta', 'Lagos', 'Ogun', 'Nueva Segovia',
       'Jinotega', 'Madriz', 'Esteli', 'Chinandega', 'Leon', 'Matagalpa',
       'Boaco', 'Managua', 'Masaya', 'Chontales', 'Granada', 'Carazo',
       'Rivas', 'Rio San Juan', 'RAAN', 'RAAS', 'Central Hill',
       'Central Mountain', 'Central Terai', 'Eastern Hill',
       'Eastern Mountain', 'Eastern Terai', 'Far-Western Hill',
       'Far-Western Mountain', 'Far-WesternTerai', 'MId-Western Hill',
       'MId-Western Mountain', 'MId-WesternTerai', 'Western  Hill',
       'Western  Terai', 'Western Mountain', 'Punjab', 'Sindh',
       'Khyber Pakhtunkhwa', 'Balochistan', 'Gilgit Baltistan',
       'Islamabad (ICT)', 'ðncash', 'Apurðmac', 'Arequipa', 'Ayacucho',
       'Cajamarca', 'Callao', 'Cusco', 'Huancavelica', 'Huðnuco', 'Ica',
       'Junðn', 'La Libertad', 'Lambayeque', 'Lima', 'Loreto',
       'Madre de Dios', 'Moquegua', 'Pasco', 'Piura', 'Puno',
       'San Martðn', 'Tacna', 'Tumbes', 'Ucayali',
       'National Capital Region', 'Cordillera Admin Region',
       'Ilocos Region', 'Cagayan Valley', 'Central Luzon', 'Calabarzon',
       'Mimaropa', 'Bicol Region', 'Western Visayas', 'Central Visayas',
       'Eastern Visayas', 'Zamboanga Peninsula', 'Northern Mindanao',
       'Davao Peninsula', 'Soccsksargen', 'CARAGA', 'Armm', 'Kigali City',
       'Blue Nile', 'Central Darfor', 'East Darfor', 'Gadarif', 'Gezira',
       'Kassala', 'Khartoum', 'North Darfor', 'North Kordofan',
       'River Nile', 'Sinnar', 'South Darfor', 'South Kordofan',
       'West Darfor', 'West Kordofan', 'White Nile', 'Center', 'Kailahun',
       'Kenema', 'Kono', 'Bombali', 'Kambia', 'Koinadugu', 'Port Loko',
       'Tonkolili', 'Bo', 'Bonthe', 'Moyamba', 'Pujehun', 'Western Rural',
       'Western Urban', 'Ahuachapan', 'Cabanas', 'Chalatenango',
       'Cuscatlan', 'La Union', 'Morazan', 'San Miguel', 'San Salvador',
       'San Vicente', 'Santa Ana', 'Sonsonate', 'Usulutan', 'Upper Nile',
       'Jonglei and Unity', 'Warap', 'Northern Bahr el Ghazal',
       'Western Bahr el Ghazal', 'Lakes', 'Western Equatoria',
       'Central Equatoria', 'Eastern Equatoria',
       'Regi\x8bo Autonoma de Principe', 'Regi\x8bo Centro Este',
       'Regi\x8bo Norte Oeste', 'Regi\x8bo Sul Este', 'Paramaribo',
       'Wanica', 'Nickerie', 'Coronie', 'Saramacca', 'Commewijne',
       'Marowijne', 'Para', 'Brokopondo', 'Sipaliwini', 'Hhohho',
       'Lubombo', 'Manzini', 'Shiselweni', 'Damascus', 'Halab',
       'Rural Damascus', 'Hums', 'Hama', 'Latequia', 'Edlb', 'Hasaka',
       'Dir Ezor', 'Tortous', 'Raqa', 'Daraa', 'As-swidaa', 'Qonitara',
       'Barh El Gazal', 'Batha', 'Borkou/Tibesti', 'Chari Baguirmi',
       'Ennedi', 'GuðRa', 'Hadjer-Lamis', 'Kanem', 'Lac',
       'Logone Occidental', 'Logone Oriental', 'Mandoul',
       'Mayo Kebbi Est', 'Mayo Kebbi Ouest', 'Moyen Chari', "N'DjamðNa",
       'Ouaddað', 'Salamat', 'Sila', 'Tandjilð', 'Wadi Fira',
       'Commune de Lome', 'Region Maritime', 'Region des Plateaux',
       'Region Centrale', 'Region de la Kara', 'Region des Savanes',
       'Dushanbe', 'Gorno-Badakhshan Autonomous Oblast', 'Sughd',
       'Districts of Republican Subordination', 'Khatlon', 'Aileu',
       'Ainaro', 'Baucau', 'Bobonaro', 'Cova Lima', 'Dili', 'Ermera',
       'Liquica', 'Lautem', 'Manufahi', 'Manatuto', 'Oecussi', 'Viqueque',
       'North West', 'North Central', 'South West', 'Tobago', 'Lake',
       'South West Highlands', 'Southern', 'Southern Highlands',
       'Zanzibar', 'Kampala', 'Central 1', 'Central 2', 'East Central',
       'Karamoja', 'West Nile', 'Southwest', 'Central-Eastern',
       'Tashkent', 'Red River Delta',
       'Northern Midlands and Mountain area',
       'North Central and Central Coastal area', 'Central Highlands',
       'South East', 'Mekong River Delta', 'Ibb', 'Abyan', 'Sanaa City',
       'Al-Baidha', 'Taiz', 'Al-Jawf', 'Hajjah', 'Al-Hodiedah',
       'Hadramout', 'Dhamar', 'Shabwah', 'Sadah', 'Sanaa', 'Aden', 'Lahj',
       'Mareb', 'Al-Mhweit', 'Al-Mhrah', 'Amran', 'Aldhalae', 'Reimah',
       'Copperbelt', 'Luapula', 'Lusaka', 'Muchinga', 'North Western',
       'Bulawayo', 'Harare', 'Manicaland', 'Mashonaland Central',
       'Mashonaland East', 'Mashonaland West', 'Masvingo',
       'Matabeleland North', 'Matabeleland South', 'Midlands'],
      dtype=object)

In [43]:
import time as t

time_cols = ['posted_time', 'disbursed_time', 'funded_time', 'date']

for col in time_cols:
    kiva_loan_data_region[col] = pd.to_datetime(kiva_loan_data_region[col])
    print(kiva_loan_data_region[col][0])

2014-01-02 14:25:08
2013-12-17 08:00:00
2014-01-08 22:07:48
2014-01-02 00:00:00

In [45]:
kiva_loan_data_region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52197 entries, 0 to 52196
Data columns (total 27 columns):
id                    52197 non-null int64
funded_amount         52197 non-null float64
loan_amount           52197 non-null float64
activity              52197 non-null object
sector                52197 non-null object
use                   52004 non-null object
country_code          52197 non-null object
country               52197 non-null object
region                50955 non-null object
currency              52197 non-null object
partner_id            52197 non-null float64
posted_time           52197 non-null datetime64[ns]
disbursed_time        52197 non-null datetime64[ns]
funded_time           48681 non-null datetime64[ns]
term_in_months        52197 non-null float64
lender_count          52197 non-null int64
tags                  39273 non-null object
borrower_genders      52005 non-null object
repayment_interval    52197 non-null object
date                  52197 non-null datetime64[ns]
LocationName          50955 non-null object
ISO                   52197 non-null object
world_region          52197 non-null object
MPI                   50955 non-null float64
geo                   52197 non-null object
lat                   50953 non-null float64
lon                   50953 non-null float64
dtypes: datetime64[ns](4), float64(7), int64(2), object(14)
memory usage: 13.7+ MB

In [86]:
%matplotlib inline
kiva_loan_data_region['geo'].describe()#.hist(xrot=90, figsize=(20, 7))

count                       52197
unique                        109
top       (10.5104642, 7.4165053)
freq                        10000
Name: geo, dtype: object

In [90]:
kiva_data['loan_themes_by_region'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15736 entries, 0 to 15735
Data columns (total 21 columns):
Partner ID            15736 non-null int64
Field Partner Name    15736 non-null object
sector                15736 non-null object
Loan Theme ID         15736 non-null object
Loan Theme Type       15736 non-null object
country               15736 non-null object
forkiva               15736 non-null object
region                15736 non-null object
geocode_old           1200 non-null object
ISO                   15722 non-null object
number                15736 non-null int64
amount                15736 non-null int64
LocationName          15736 non-null object
geocode               13662 non-null object
names                 13661 non-null object
geo                   15736 non-null object
lat                   13662 non-null float64
lon                   13662 non-null float64
mpi_region            15722 non-null object
mpi_geo               9671 non-null object
rural_pct             14344 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 2.5+ MB

In [91]:
kiva_data['loan_theme_ids'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779092 entries, 0 to 779091
Data columns (total 4 columns):
id                 779092 non-null int64
Loan Theme ID      764279 non-null object
Loan Theme Type    764279 non-null object
Partner ID         764279 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.8+ MB

In [92]:
kiva_data['loan_themes_by_region']

,Partner ID,Field Partner Name,sector,Loan Theme ID,Loan Theme Type,country,forkiva,region,geocode_old,ISO,...,amount,LocationName,geocode,names,geo,lat,lon,mpi_region,mpi_geo,rural_pct
0,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Banteay Meanchey,"(13.75, 103.0)",KHM,...,450,"Banteay Meanchey, Cambodia","[(13.6672596, 102.8975098)]",Banteay Meanchey Province; Cambodia,"(13.6672596, 102.8975098)",13.667260,102.897510,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
1,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Battambang Province,NaN,KHM,...,20275,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
2,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Battambang Province,NaN,KHM,...,9150,"Battambang Province, Cambodia","[(13.0286971, 102.989615)]",Battambang Province; Cambodia,"(13.0286971, 102.989615)",13.028697,102.989615,"Banteay Mean Chey, Cambodia","(13.6672596, 102.8975098)",90.0
3,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,604950,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
4,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,275,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
5,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,62225,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
6,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000007VvXr,Solar Home Systems,Cambodia,No,Kampong Cham Province,"(12.0, 105.5)",KHM,...,1300,"Kampong Cham Province, Cambodia","[(12.0982918, 105.3131185)]",Kampong Cham Province; Cambodia,"(12.0982918, 105.3131185)",12.098292,105.313119,"Kampong Cham, Cambodia","(11.9924294, 105.4645408)",90.0
7,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000weyk,General,Cambodia,No,Kampong Chhnang Province,"(12.0, 104.5)",KHM,...,237175,"Kampong Chhnang Province, Cambodia","[(12.1392352, 104.5655273)]",Kampong Chhnang Province; Cambodia,"(12.1392352, 104.5655273)",12.139235,104.565527,"Kampong Chhnang, Cambodia","(12.1392352, 104.5655273)",90.0
8,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000007VvXr,Solar Home Systems,Cambodia,No,Kampong Chhnang Province,"(12.0, 104.5)",KHM,...,3050,"Kampong Chhnang Province, Cambodia","[(12.1392352, 104.5655273)]",Kampong Chhnang Province; Cambodia,"(12.1392352, 104.5655273)",12.139235,104.565527,"Kampong Chhnang, Cambodia","(12.1392352, 104.5655273)",90.0
9,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kampong Chhnang Province,"(12.0, 104.5)",KHM,...,31425,"Kampong Chhnang Province, Cambodia","[(12.1392352, 104.5655273)]",Kampong Chhnang Province; Cambodia,"(12.1392352, 104.5655273)",12.139235,104.565527,"Kampong Chhnang, Cambodia","(12.1392352, 104.5655273)",90.0
10,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kampong Chhnang Province,"(12.0, 104.5)",KHM,...,323950,"Kampong Chhnang Province, Cambodia","[(12.1392352, 104.5655273)]",Kampong Chhnang Province; Cambodia,"(12.1392352, 104.5655273)",12.139235,104.565527,"Kampong Chhnang, Cambodia","(12.1392352, 104.5655273)",90.0
11,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Chhnang Province,"(12.0, 104.5)",KHM,...,1000,"Kampong Chhnang Province, Cambodia","[(12.1392352, 104.5655273)]",Kampong Chhnang Province; Cambodia,"(12.1392352, 104.5655273)",12.139235,104.565527,"Kampong Chhnang, Cambodia","(12.1392352, 104.5655273)",90.0
12,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000002X1Uu,Sanitation,Cambodia,No,Kampong Speu Province,NaN,KHM,...,1000,"Kampong Speu Province, Cambodia","[(11.6155109, 104.3791912)]",Kampong Speu Province; Cambodia,"(11.6155109, 104.3791912)",11.615511,104.379191,"Phnom Penh, Cambodia","(11.5448729, 104.8921668)",90.0
13,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kampong Speu Province,NaN,KHM,...,15625,"Kampong Speu Province, Cambodia","[(11.6155109, 104.3791912)]",Kampong Speu Province; Cambodia,"(11.6155109, 104.3791912)",11.615511,104.379191,"Phnom Penh, Cambodia","(11.5448729, 104.8921668)",90.0
14,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000weyk,General,Cambodia,No,Kampong Speu Province,NaN,KHM,...,20925,"Kampong Speu Province, Cambodia","[(11.6155109, 104.3791912)]",Kampong Speu Province; Cambodia,"(11.6155109, 104.3791912)",11.615511,104.379191,"Phnom Penh, Cambodia","(11.5448729, 104.8921668)",90.0
15,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kampot Province,NaN,KHM,...,18650,"Kampot Province, Cambodia","[(10.7412089, 104.1930918)]",Kampot Province; Cambodia,"(10.7412089, 104.1930918)",10.741209,104.193092,"Kampot & Kep, Cambodia","(10.4790637, 104.2941991)",90.0
16,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000weyk,General,Cambodia,No,Kandal Province,"(11.5, 104.8333333)",KHM,...,17025,"Kandal Province, Cambodia","[(11.2237383, 105.1258955)]",Kandal; Cambodia,"(11.2237383, 105.1258955)",11.223738,105.125896,"Kandal, Cambodia","(11.2237383, 105.1258955)",90.0
17,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kandal Province,"(11.5, 104.8333333)",KHM,...,68075,"Kandal Province, Cambodia","[(11.2237383, 105.1258955)]",Kandal; Cambodia,"(11.2237383, 105.1258955)",11.223738,105.125896,"Kandal, Cambodia","(11.2237383, 105.1258955)",90.0
18,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kandal Province,"(11.5, 104.8333333)",KHM,...,63250,"Kandal Province, Cambodia","[(11.2237383, 105.1258955)]",Kandal; Cambodia,"(11.2237383, 105.1258955)",11.223738,105.125896,"Kandal, Cambodia","(11.2237383, 105.1258955)",90.0
19,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Kratie Province,NaN,KHM,...,15650,"Kratie Province, Cambodia","[(12.8606299, 105.9699878)]",KratiÍ© Province; Cambodia,"(12.8606299, 105.9699878)",12.860630,105.969988,"Kratie, Cambodia","(12.4896877, 106.0287512)",90.0
20,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Kratie Province,NaN,KHM,...,303275,"Kratie Province, Cambodia","[(12.8606299, 105.9699878)]",KratiÍ© Province; Cambodia,"(12.8606299, 105.9699878)",12.860630,105.969988,"Kratie, Cambodia","(12.4896877, 106.0287512)",90.0
21,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Phnom Penh,"(11.55, 104.9166667)",KHM,...,39275,"Phnom Penh, Cambodia","[(11.5448729, 104.8921668)]",Phnom Penh; Phnom Penh; Cambodia,"(11.5448729, 104.8921668)",11.544873,104.892167,"Phnom Penh, Cambodia","(11.5448729, 104.8921668)",90.0
22,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000weyk,General,Cambodia,No,Prey Veng Province,"(11.5, 105.5)",KHM,...,200,"Prey Veng Province, Cambodia","[(11.3802442, 105.5005483)]",Prey Veng Province; Cambodia,"(11.3802442, 105.5005483)",11.380244,105.500548,"Prey Veng, Cambodia","(11.3802442, 105.5005483)",90.0
23,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Prey Veng Province,"(11.5, 105.5)",KHM,...,542350,"Prey Veng Province, Cambodia","[(11.3802442, 105.5005483)]",Prey Veng Province; Cambodia,"(11.3802442, 105.5005483)",11.380244,105.500548,"Prey Veng, Cambodia","(11.3802442, 105.5005483)",90.0
24,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000007VvXr,Solar Home Systems,Cambodia,No,Prey Veng Province,"(11.5, 105.5)",KHM,...,4500,"Prey Veng Province, Cambodia","[(11.3802442, 105.5005483)]",Prey Veng Province; Cambodia,"(11.3802442, 105.5005483)",11.380244,105.500548,"Prey Veng, Cambodia","(11.3802442, 105.5005483)",90.0
25,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Prey Veng Province,"(11.5, 105.5)",KHM,...,109050,"Prey Veng Province, Cambodia","[(11.3802442, 105.5005483)]",Prey Veng Province; Cambodia,"(11.3802442, 105.5005483)",11.380244,105.500548,"Prey Veng, Cambodia","(11.3802442, 105.5005483)",90.0
26,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000007VvXr,Solar Home Systems,Cambodia,No,Pursat Province,NaN,KHM,...,450,"Pursat Province, Cambodia","[(12.3663211, 103.6362715)]",Pursat Province; Cambodia,"(12.3663211, 103.6362715)",12.366321,103.636271,"Pursat, Cambodia","(12.3663211, 103.6362715)",90.0
27,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000weyk,General,Cambodia,No,Pursat Province,NaN,KHM,...,1500,"Pursat Province, Cambodia","[(12.3663211, 103.6362715)]",Pursat Province; Cambodia,"(12.3663211, 103.6362715)",12.366321,103.636271,"Pursat, Cambodia","(12.3663211, 103.6362715)",90.0
28,9,KREDIT Microfinance Institution,General Financial Inclusion,a1050000000slfi,Higher Education,Cambodia,No,Pursat Province,NaN,KHM,...,8600,"Pursat Province, Cambodia","[(12.3663211, 103.6362715)]",Pursat Province; Cambodia,"(12.3663211, 103.6362715)",12.366321,103.636271,"Pursat, Cambodia","(12.3663211, 103.6362715)",90.0
29,9,KREDIT Microfinance Institution,General Financial Inclusion,a10500000068jPe,Vulnerable Populations,Cambodia,No,Pursat Province,NaN,KHM,...,1850,"Pursat Province, Cambodia","[(12.3663211, 103.6362715)]",Pursat Province; Cambodia,"(12.3663211, 103.6362715)",12.366321,103.636271,"Pursat, Cambodia","(12.3663211, 103.6362715)",90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15706,527,FundaciÍ_n Sartawi,General Financial Inclusion,a1050000007zQAc,Agriculture,Bolivia,No,YapacanÍ_,NaN,BOL,...,2625,"YapacanÍ_, Bolivia","[(-17.4013758, -63.88178319999999)]",Yapacani; Ichilo; Santa Cruz Department; Bolivia,"(-17.4013758, -63.88178319999999)",-17.401376,-63.881783,"Santa Cruz, Bolivia, Plurinational State of","(-17.8145819, -63.1560853)",77.0
15707,527,FundaciÍ_n Sartawi,General Financial Inclusion,a1050000007zQAc,Agriculture,Bolivia,No,cruce Villa Adela,NaN,BOL,...,800,"cruce Villa Adela, Bolivia","[(-16.5343037, -68.1903483)]",Cruce Villa Adela; El Alto; Departamento de La...,"(-16.5343037, -68.1903483)",-16.534304,-68.190348,"La Paz, Bolivia, Plurinational State of","(-16.489689, -68.11929359999999)",77.0
15708,528,Inyenyeri,Clean Energy,a10500000075MYG,Clean Cookstove,Rwanda,No,Rubavu,NaN,RWA,...,9275,"Rubavu, Rwanda","[(-1.6986475, 29.3714909)]",Rubavu; Western Province; Rwanda,"(-1.6986475, 29.3714909)",-1.698647,29.371491,"North, Rwanda","(-1.5009963, 29.6384954)",NaN
15709,529,"N/A, direct to LLK",DSE Direct,a1050000008OYiQ,SME,Kenya,No,Kiambu,"(-1.1666667, 36.8333333)",KEN,...,36000,"Kiambu, Kenya","[(-1.1748105, 36.8304102)]",Kiambu; Kiambu County; Kenya,"(-1.1748105, 36.8304102)",-1.174810,36.830410,"Nyanza, Kenya","(-1.2849963, 36.8272273)",NaN
15710,530,"N/A, direct to Jakana Foods",DSE Direct,a1050000008OYpb,SME,Uganda,No,Kampala,"(0.3155556, 32.5655556)",UGA,...,30000,"Kampala, Uganda","[(0.3475964, 32.5825197)]",Kampala; Kampala; Central Region; Uganda,"(0.3475964, 32.5825197)",0.347596,32.582520,"Kampala, Uganda","(0.3475964, 32.5825197)",NaN
15711,531,"N/A, direct to Azimuth Group Corp",DSE Direct,a1050000008OYxu,Solar Home Systems,Sierra Leone,No,Freetown,NaN,SLE,...,30000,"Freetown, Sierra Leone","[(8.4656765, -13.2317225)]",Freetown; Western Area Urban; Western Area; Si...,"(8.4656765, -13.2317225)",8.465677,-13.231723,"Western Rural, Sierra Leone","(8.3114983, -13.035694)",NaN
15712,532,"N/A, direct to All Across Africa",DSE Direct,a1050000008Oui7,SME,Uganda,No,Kampala,"(0.3155556, 32.5655556)",UGA,...,50000,"Kampala, Uganda","[(0.3475964, 32.5825197)]",Kampala; Kampala; Central Region; Uganda,"(0.3475964, 32.5825197)",0.347596,32.582520,"Kampala, Uganda","(0.3475964, 32.5825197)",NaN
15713,533,MEC APROVAG,Agriculture,a1050000008HMXp,Agriculture,Senegal,No,Netteboulou,NaN,SEN,...,1725,"Netteboulou, Senegal",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,SEN,NaN,80.0
15714,533,MEC APROVAG,Agriculture,a1050000008HMXp,Agriculture,Senegal,No,Nguene,NaN,SEN,...,15625,"Nguene, Senegal","[(15.481636, -16.104843)]",Nguene; Louga; Louga; Senegal,"(15.481636, -16.104843)",15.481636,-16.104843,"Center, Senegal","(14.72001, -17.465533)",80.0
15715,533,MEC APROVAG,Agriculture,a1050000008HMXp,Agriculture,Senegal,No,Sankagne,NaN,SEN,...,25225,"Sankagne, Senegal",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,SEN,NaN,80.0
15716,534,"N/A, direct to ANA by Karma",DSE Direct,a1050000007qa7g,Artisan,Bhutan,No,Thimphu,NaN,BTN,...,20000,"Thimphu, Bhutan","[(27.4727924, 89.6392863)]",Thimphu; Thimphu; Bhutan,"(27.4727924, 89.6392863)",27.472792,89.639286,"Thimphu, Bhutan","(27.4727924, 89.6392863)",NaN
15717,535,"N/A, direct to Ab Ovo Confectionery Limited",DSE Direct,a1050000007yx24,SME,Ghana,No,Accra,"(5.55, -0.2166667)",GHA,...,25000,"Accra, Ghana","[(5.6037168, -0.1869644)]",Accra; Accra Metropolis; Greater Accra Region;...,"(5.6037168, -0.1869644)",5.603717,-0.186964,"Greater Accra, Ghana","(5.8142836, 0.0746767)",NaN
15718,536,"N/A, direct to EcoEnergy",DSE Direct,a1050000007yxE9,Solar Home Systems,Pakistan,No,Karachi,NaN,PAK,...,50000,"Karachi, Pakistan","[(24.8614622, 67.0099388)]",Karachi; Karachi District; Sindh; Pakistan,"(24.8614622, 67.0099388)",24.861462,67.009939,"Sindh, Pakistan","(25.8943018, 68.52471489999999)",NaN
15719,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Agric,NaN,GHA,...,475,"Agric, Ghana","[(6.9357571, -1.675158)]",Agric; Ofinso; Afigya-Sekyere; Ashanti Region;...,"(6.9357571, -1.675158)",6.935757,-1.675158,"Ashanti, Ghana","(6.7470436, -1.5208624)",NaN
15720,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Dungu,NaN,GHA,...,150,"Dungu, Ghana","[(9.374548899999999, -0.8794310999999999)]",Dungu; Tamale; Tamale Municipal; Northern Regi...,"(9.374548899999999, -0.8794310999999999)",9.374549,-0.879431,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15721,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Gumo,NaN,GHA,...,475,"Gumo, Ghana",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,GHA,NaN,NaN
15722,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Jisonaayili,NaN,GHA,...,475,"Jisonaayili, Ghana",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,GHA,NaN,NaN
15723,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Karaga,NaN,GHA,...,775,"Karaga, Ghana","[(9.926672199999999, -0.4337304)]",Karaga; Karaga; Northern Region; Ghana,"(9.926672199999999, -0.4337304)",9.926672,-0.433730,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15724,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Katariga,NaN,GHA,...,600,"Katariga, Ghana",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,GHA,NaN,NaN
15725,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Kumbungu,NaN,GHA,...,950,"Kumbungu, Ghana","[(9.5604984, -0.9486222999999999)]",Kumbungu; Tolon; Northern Region; Ghana,"(9.5604984, -0.9486222999999999)",9.560498,-0.948622,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15726,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Kuokuo,NaN,GHA,...,575,"Kuokuo, Ghana","[(9.5237374, -0.9181876)]",Kukuo; Tolon; Northern Region; Ghana,"(9.5237374, -0.9181876)",9.523737,-0.918188,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15727,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Nakpanzoo,NaN,GHA,...,150,"Nakpanzoo, Ghana",NaN,NaN,"(1000.0, 1000.0)",NaN,NaN,GHA,NaN,NaN
15728,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Sagnarigu,NaN,GHA,...,150,"Sagnarigu, Ghana","[(9.4139, -0.8669323999999999)]",Sagnarigu Road; Tamale; Tamale Municipal; Nort...,"(9.4139, -0.8669323999999999)",9.413900,-0.866932,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15729,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Taha,NaN,GHA,...,475,"Taha, Ghana","[(9.4358436, -0.7841872)]",Taha; Tamale Municipal; Northern Region; Ghana,"(9.4358436, -0.7841872)",9.435844,-0.784187,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15730,538,iDE Ghana,Water and Sanitation,a10500000080haV,Sanitation,Ghana,No,Vitting,NaN,GHA,...,1100,"Vitting, Ghana","[(9.4220024, -0.8439)]",Vitting Road; Tamale; Tamale Municipal; Northe...,"(9.4220024, -0.8439)",9.422002,-0.843900,"Northern, Ghana","(9.543926899999999, -0.9056623)",NaN
15731,539,"N/A, direct to Sevamob",DSE Direct,a10500000081IYl,Health,South Africa,No,Nkangala,NaN,ZAF,...,50000,"Nkangala, South Africa","[(-25.9459898, 29.6035495)]",Nkangala; Mpumalanga; South Africa,"(-25.9459898, 29.6035495)",-25.945990,29.603549,ZAF,NaN,NaN
15732,540,"N/A, direct to Sanergy",DSE Direct,a10500000081HIw,Water and Sanitation,Kenya,No,Nairobi,"(-1.2833333, 36.8166667)",KEN,...,50000,"Nairobi, Kenya","[(-1.2920659, 36.8219462)]",Nairobi; Nairobi County; Kenya,"(-1.2920659, 36.8219462)",-1.292066,36.821946,"Nairobi, Kenya","(-1.2920659, 36.8219462)",NaN
15733,542,N/A direct to BioLite Inc.,DSE Direct,a1050000008AQrj,Clean Cookstove,Uganda,No,Kampala,"(0.3155556, 32.5655556)",UGA,...,50000,"Kampala, Uganda","[(0.3475964, 32.5825197)]",Kampala; Kampala; Central Region; Uganda,"(0.3475964, 32.5825197)",0.347596,32.582520,"Kampala, Uganda","(0.3475964, 32.5825197)",NaN
15734,543,N/A direct to LegWorks Inc.,DSE Direct,a1050000008AQwt,Health,Canada,No,Toronto,NaN,CAN,...,50000,"Toronto, Canada","[(43.653226, -79.3831843)]",Toronto; Toronto Division; Ontario; Canada,"(43.653226, -79.3831843)",43.653226,-79.383184,CAN,NaN,NaN
15735,545,"N/A, direct to Solar Home",DSE Direct,a1050000008ASxg,Solar Home Systems,Myanmar (Burma),No,Yangon,NaN,MMR,...,50000,"Yangon, Myanmar (Burma)","[(16.8660694, 96.19513200000002)]",Yangon; Yangon Region; Myanmar (Burma),"(16.8660694, 96.19513200000002)",16.866069,96.195132,"Yangon, Myanmar","(16.8660694, 96.19513200000002)",NaN